{{ content() }}
<script type="text/ng-template" id="notification.html">
  <div ng-include="'/be/tpl/notification.html'"></div>
</script>
<script type="text/ng-template" id="contactReview.html">
  <div ng-include="'/be/tpl/contactReview.html'"></div>
</script>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Contacts</h1>
  <a id="top"></a>
</div>
  <div class="wrapper-md">
                  <alert ng-repeat="alert in alerts" type="{[{ alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              Manage Contacts
            </div>
            <div class="panel-body">
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                      <form name="rEquired">
                        <div class="input-group">
                          <input class="input-sm form-control" placeholder="Search" type="text" ng-model="searchtext" required>
                          <span class="input-group-btn">
                          <button class="btn btn-sm btn-default" type="button" ng-click="search(searchtext,searchstat)" ng-disabled="rEquired.$invalid">Go!</button>
                            <button type="button" class="btn btn-sm btn-bg btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title="RESET" ng-click="resetsearch()"><i class="fa fa-refresh"></i></button>
                          </span>
                          <select ng-model="searchstat" class="form-control input-sm" ng-change="search(searchtext,searchstat)">
                          <option value="" style="display:none">Filter</option>
                          <option value="undefined">List All</option>
                          <option value="0">New</option>
                          <option value="1">Reviewed</option>
                          <option value="2">Replied</option>            
                        </select>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:15%">Name</th>
                                <th style="width:15%">Email</th>
                                <th style="width:15%">Date Submitted</th>
                                <th style="width:15%">Status</th>
                                <th style="width:15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mem in data.data">
                               <td>{[{mem.name}]}</td>
                               <td>{[{mem.email}]}</td>
                               <td>{[{mem.datesubmitted}]}</td>
                               <td ng-if="mem.status == 0"><span class="label bg-warning">NEW</span></td>
                               <td ng-if="mem.status == 1"><span class="label bg-primary">REVIEWED</span></td>
                               <td ng-if="mem.status == 2"><span class="label bg-success">REPLIED</span></td>
                               <td><a href="" ng-click="reviewmodal(mem.id)">
                               <span class="label bg-info">REVIEW</span>
                              </a><a href="" ng-click="deletemodal(mem.id)">
                               <span class="label bg-danger">DELETE</span>
                              </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="panel-body">
            <footer class="panel-footer text-center bg-light lter">
              <div class="col-sm-4 text-left">
                <small class="text-muted inline m-t-sm m-b-sm">Number of New Contact/s : {[{ countnew }]}</small>
              </div>
              <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
            </footer>
        </div>
      </div>
  </div>
