<!DOCTYPE html>
<html lang="en" data-ng-app="atvapp"><!-- data-ng-app="atvapp" !-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <?php
  if($metadata!='nodata'){
    ?>
    <title><?php echo $metadata->title ?></title>
    <meta name="title" content="<?php echo $metadata->metatitle ?>">
    <meta name="keywords" content="<?php echo $metadata->metakeyword ?>">
    <meta name="description" content="<?php echo $metadata->metadescription ?>">
    <meta name="og:title" content="<?php echo @$metadata->metatitle ?>" />
    <meta name="og:description" content="<?php echo @$metadata->metadescription ?>" />
    <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>" />
    <meta name="og:image" content="<?php echo @$banner; ?>" />
    <?php }else{ ?>
      <title>Rioverde ATV</title>
      <meta name="title" content="Rioverde ATV">
      <meta name="keywords" content="Rioverde ATV">
      <meta name="description" content="Rioverde ATV">
      <?php } ?>
      <meta name="author" content="RioVerde ATV">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="user-scalable = yes" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta charset="utf-8">

      <!-- Styles -->
      <!-- Bootstrap CSS -->
      <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font awesome CSS
      <link href="/vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet">-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

      <!-- GOOGLE FONTS -->
      <link href='http://fonts.googleapis.com/css?family=Palanquin+Dark:400,700,600,500' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Piedra' rel='stylesheet' type='text/css'>

      <!-- Custom CSS -->
      <link href="/fe/css/style.atv.css" rel="stylesheet">
      <link href="/fe/css/navigation-media.css" rel="stylesheet">
      <link href="/fe/css/header-media.css" rel="stylesheet">
      <link href="/vendors/lightgallery/src/css/lightgallery.css" rel="stylesheet">
      <!-- Stylesheet for Color -->
      <link href="/fe/css/blue.css" rel="stylesheet">

      <!-- Favicon -->
      <!--     <link rel="shortcut icon" href="/img/frontend/favicon/favicon.png"> -->
      <link rel="shortcut icon" href="https://rioverdeatv.s3.amazonaws.com/uploads/images/<?php echo $details->logo; ?>">

      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    </head>

    <body ng-controller="homeCtrl">
      <?php
      if($logoimage->value1 == 1){
        header('Location: /maintenance/');
      }
      ?>
      <div class="container-fluid img-responsive-parent">
        <div class="row">
          <div class="header" style="background-image: url('<?php echo $amazonlink; ?>/uploads/images/<?php echo $details->banner->banner; ?>')">
            <div class="header_tip <?php echo $details->banner->alignment; ?>" style="background: <?php echo $details->banner->bgcolor; ?>; color: <?php echo $details->banner->txtcolor; ?>">
              <span class="title"><?php echo $details->banner->title; ?></span>
              <br>
              <span class="subtitle"><?php echo $details->banner->subtitle; ?></span>
              <br>
              <span class="reserve">
                <a href="<?php echo $details->banner->link; ?>" class="reserve_label"><?php echo $details->banner->btntxt; ?> </a>
                <a href="<?php echo $details->banner->link; ?>"class="btn btn-lg glyphicon glyphicon-calendar reserve_icon" aria-hidden="true" title="<?php echo $details->banner->btntxt; ?>"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid no_margin navbar-sticky-onscroll">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="<?php echo $this->config->application->amazonlink; ?>/uploads/images/<?php echo $logoimage->logo; ?>" class="img-responsive logo" id="atvlogo">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="nav_a">HOME</a></li>
                <li><a href="<?php echo $atvsnprices;?>" class="nav_a">ATVS & PRICES</a></li>
                <li><a href="<?php echo $trails;?>" class="nav_a">TRAILS</a></li>
                <li><a href="<?php echo $galleryx;?>" class="nav_a">GALLERY</a></li>
                <li><a href="<?php echo $reservation;?>" class="nav_a">RESERVATION</a></li>
                <li class="contactus_li"><a href="<?php echo $contactus;?>" class="nav_a">CONTACT US</a></li>
                <li class="special_li">
                  <a href="<?php echo $specials;?>"  class="specials_a">
                    <img src="/img/frontend/toppage/special.png" class="specials_img">
                    SPECIALS
                  </a>
                </li>
                <li class="socials_li">
                  <a href="<?php echo $contact->facebook; ?>" target="_blank"><img src="/img/frontend/social-icons/fb.png" class="social-icons"></a>
                  <a href="<?php echo $contact->youtube; ?>" target="_blank"><img src="/img/frontend/social-icons/yt.png" class="social-icons"></a>
                  <a href="<?php echo $contact->gplus; ?>" target="_blank"><img src="/img/frontend/social-icons/g+.png" class="social-icons"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="container font15">
        <div class="row">
          <div class="col-sm-4 pad_md_vert">
            <a href="<?php echo $atvsnprices;?>"><img src="<?php echo $amazonlink . "/uploads/images/". $details->home->img1; ?>" class="center-block the_ride"></a>
            <br>
            <center>
              <span class="roundimages_title"><?php echo $details->home->title1; ?></span> <br>
            </center>
          </div>
          <div class="col-sm-4 pad_md_vert">
            <a href="<?php echo $trails;?>"><img  src="<?php echo $amazonlink . "/uploads/images/". $details->home->img2; ?>" class="center-block where_to_go"></a>
            <br>
            <center>
              <span class="roundimages_title"><?php echo $details->home->title2; ?></span> <br>
            </center>
          </div>
          <div class="col-sm-4 pad_md_vert">
            <a href="<?php echo $reservation;?>"><img src="<?php echo $amazonlink . "/uploads/images/". $details->home->img3; ?>" class="center-block reservations"></a>
            <br>
            <center>
              <span class="roundimages_title"><?php echo $details->home->title3; ?></span> <br>
            </center>
          </div>
        </div>
      </div>
      <div class="container-fluid bg_yellow">
        <div class="row pad_sm">
          <div class="col-sm-12 center"><span id="call_us">CONTACT US! CALL <?php echo $contact->contactno; ?> or EMAIL <a href="mailto:<?php echo $contact->email; ?>" style="color:black"><u><?php echo $contact->email; ?></u></a>
          </span></div>
        </div>
      </div>
      <div class="container-fluid pad_md_vert bg_yellowish font15">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- <center><span class="rocky_title"><strong>EXCITING ADVENTURES AWAIT</strong></span></center> -->
              <center><span class="rocky_title"><strong><?php echo $adventure->title; ?></strong></span></center>
              <strong style="font-size:17px"><?php echo $adventure->content; ?>
              </strong>
            </div>
          </div>
          <div class="row pad_sm_vert">
            <div id="video">
              <?php $i=0; foreach($vid as $list){ //MAGICK
                $x = preg_match('/src="https:\/\/www.youtube.com\/embed\/(.*?)"+/i',$list->embed,$match);
                $img = 'http://img.youtube.com/vi/'. $match[1] .'/hqdefault.jpg';
                $url = $match[1];

                if($i==3) break;$i++;?>
                <a class="col-sm-4 mv_pad_sm_vert mv_fw gal2" href="https://www.youtube.com/watch?v=<?php echo $url; ?>">
                  <img src="<?php echo $img; ?>" class="imgz img-responsive">
                  <div><img src="/img/youtubeplay.png" class="youtube-play1"></div>
                </a>
                <?php } ?>
              </div>
            </div>
            <div class="row">
              <div id="lightgallery">
                <?php $i=0; foreach($gallery as $gal){ if($i==4) break;$i++;?>
                  <a class="col-sm-3 mv_pad_sm_vert" href="<?php echo $this->config->application->amazonlink; ?>/uploads/images/<?php echo $gal->filename; ?>"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/images/<?php echo $gal->filename; ?>" class="img-responsive center-block ng-hide"><div style="background:#000 url('<?php echo $this->config->application->amazonlink; ?>/uploads/images/<?php echo $gal->filename;?>'); background-size:cover;
                    background-repeat:no-repeat;
                    background-position:center center;
                    min-height:210px;"></div></a>
                    <?php } ?>
                  </div>
                </div>
                <div class="row pad_top_md">
                  <div class="col-sm-12">
                    <a href="<?php echo $galleryx;?>" class="btn_orange pull-right"><span>VIEW GALLERY</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid pad_md_vert">
              <div class="container font15">
                <div class="row">
                  <div class="col-sm-12">
                    <center><span class="rocky_title"><strong>BLOG AND ANNOUNCEMENTS</strong></span></center>
                  </div>
                </div>
                <div class="row pad_sm_vert">
                  <div class="col-sm-4" ng-repeat="blog in blogs">
                    <a href="/blog/{[{blog.slugs}]}" class="clr_dark">
                      <div ng-show="blog.featuredtype == 'img' "
                      style="background:#000 url('{[{ s3 }]}{[{ blog.featured }]}');
                      background-size:cover;
                      background-repeat:no-repeat;
                      background-position:center center;
                      min-height:225px;
                      margin-bottom:4px">
                    </div>
                    <div ng-show="blog.featuredtype == 'vid' " class="featuredvideo" ng-bind-html="blog.featured"></div>
                    <span class="mini_title mg_top_sm" ng-bind="blog.title"></span>
                    <br>
                    <span class="mini_date">Posted on
                      <span ng-bind="blog.datepublished"></span>
                    </span>
                    <p class="mg_top_sm" ng-bind="blog.summary"></p>
                  </a>
                </div>

              </div>
              <div class="row pad_top_md">
                <div class="col-sm-12">
                  <a href="/blog" class="btn_orange pull-right"><span>SEE ALL</span></a>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid bg_yellow">
            <div class="row pad_sm">
              <div class="col-sm-12 center"><span id="call_us">CONTACT US! CALL <?php echo $contact->contactno; ?> or EMAIL <a href="mailto:<?php echo $contact->email; ?>" style="color:black"><u><?php echo $contact->email; ?></u></a>
              </span></div>
            </div>
          </div>

          <div class="container-fluid no_margin" id="atvmap">
            <!--   <img src="/img/frontend/toppage/map.png"  class="img-responsive"> -->
          </div>

          <!-- Footer starts  -->
          <div class="container-fluid bg_orange" ng-cloak>
            <div class="container">
              <div class="row pad_md_vert">
                <div class="col-sm-6">
                  <span id="footerspan">
                    <a href="<?php echo $home;?>"><img src="/img/frontend/toppage/footerlogo.png" id="footerlogo"></a>
                    <br><br>
                    <span class="clr_white" id="footertitle">VORTEX HEALING ATV RENTAL</span> <br>
                    <span class="clr_white">
                      <a href="<?php echo $home;?>" class="clr_white">Home</a> |
                      <a href="<?php echo $atvsnprices;?>" class="clr_white">ATV & Prices</a> |
                      <a href="<?php echo $trailx;?>" class="clr_white">Trails</a> |
                      <a href="<?php echo $galleryx;?>" class="clr_white">Gallery</a> |
                      <a href="/blog" class="clr_white">Blog</a> |
                      <a href="<?php echo @$contactusx;?>" class="clr_white">Contact</a>
                    </span>
                  </span>

                </div>
                <div class="col-sm-6 clr_white" style="margin-top: 30px;">
                  <span id="footercontact">
                    <i style="margin"class="glyphicon glyphicon-map-marker"></i> <?php echo $contact->address; ?> <br>
                    <i class="glyphicon glyphicon-phone"></i> <?php echo $contact->contactno; ?> <br>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <a href="mailto:<?php echo $contact->email; ?>" style="color:white"><?php echo $contact->email; ?></a>
                  </span>
                </div>

                <div class="col-sm-12 footer-sm">
                  <br>
                  <div class="col-sm-6 clr_white" style="padding-left:0 !important; padding-right:0 !important;">
                    <p class="copyright">Copyright © 2016 - All Rights Reserved - Sedona Vortex Healing ATV </p>
                  </div>
                  <div class="col-sm-6 clr_white" style="padding-left:0 !important; padding-right:0 !important;">
                    <a class="clr_white terms-of-user" href="<?php echo $termsofuse; ?>">Terms of Use</a>
                    <a class="clr_white privacy-policy" href="<?php echo $privacypolicy; ?>" >Privacy Policy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer ends -->

          <!-- Scroll to top -->
          <!-- <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> -->

          <!-- Javascript files -->
          <!-- jQuery -->
          <script src="/vendors/jquery/dist/jquery.min.js"></script>

          <!--  Bootstrap JS -->
          <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

          <script src="/vendors/html5shiv/dist/html5shiv.min.js"></script>

          <script src="/fe/scripts/modernizr.custom.28468.js"></script>

          <!-- Custom JS -->
          <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
          <script src="/fe/scripts/custom.js"></script>
          <script src="/fe/scripts/countries3.js"></script>
          <script src="/vendors/angular/angular.js"></script>
          <script src="/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
          <script src="/vendors/angular-animate/angular-animate.min.js"></script>
          <script src="/vendors/angular-cookies/angular-cookies.min.js"></script>
          <script src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>
          <script src="/vendors/angular-bootstrap/ui-bootstrap.min.js"></script>
          <script src="/vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
          <script src="/vendors/angular-resource/angular-resource.min.js"></script>
          <script src="/vendors/angular-recaptcha/release/angular-recaptcha.min.js"></script>
          <script src="/vendors/angular-jwt/dist/angular-jwt.min.js"></script>
          <script src="/vendors/angular-uuid-service/uuid-svc.min.js"></script>

          <!-- <script src="/vendors/ng-file-upload/angular-file-upload-shim.min.js"></script>
          <script src="/vendors/ng-file-upload/angular-file-upload.min.js"></script>  -->


          <script src="/vendors/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
          <script src="/vendors/ngstorage/ngStorage.min.js"></script>
          <!-- For angular Maps V3-->
          <!-- <script src="/vendors/lodash/dist/lodash.min.js"></script> -->
          <script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
          <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
          <script src='/vendors/angularjs-toaster/toaster.js'></script>

          <script src="/fe/scripts/app.js"></script>
          <script src="/fe/scripts/controllers/main.js"></script>
          <script src="/fe/scripts/factory/login.js"></script>
          <script src="/fe/scripts/config.js"></script>
          <script src="/fe/scripts/directives/directives.js"></script>
          <script src="/fe/scripts/services/anchorsmoothscroll.js"></script>

          <!-- Contact us -->
          <script src="/fe/scripts/controllers/contactus/contactus.js"></script>
          <script src="/fe/scripts/factory/contactus/contactus.js"></script>

          <!-- <?php echo $otherjvascript ?> -->
          <script src="/fe/scripts/directives/showErrors.js"></script>
          <script src="/vendors/lightgallery/dist/js/lightgallery.min.js"></script>
          <script src="/vendors/lightgallery/dist/js/lg-thumbnail.js"></script>
          <script src="/vendors/lightgallery/dist/js/lg-video.js"></script>
          <!-- lightgallery plugins -->
          <script src="/vendors/lightgallery/dist/js/lg-thumbnail.min.js"></script>
          <script src="/vendors/lightgallery/dist/js/lg-video.min.js"></script>
          <script src="/vendors/lightgallery/dist/js/lg-fullscreen.min.js"></script>
          <script src="/vendors/angular-messages/angular-messages.min.js"></script>

          <script src="/vendors/moment/moment.js"></script>
          <script src="/vendors/angular-ui-calendar/src/calendar.js"></script>
          <script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
          <script src="/vendors/fullcalendar/dist/gcal.js"></script>
          <!-- reservation -->
          <script src="/fe/scripts/controllers/reservation/reservation.js"></script>
          <script src="/fe/scripts/factory/reservation/reservation.js"></script>

          <!-- blog/news -->
          <script src="/fe/scripts/controllers/news/news.js"></script>
          <script src="/fe/scripts/controllers/news/view.js"></script>
          <script src="/fe/scripts/controllers/news/category.js"></script>
          <script src="/fe/scripts/controllers/news/tags.js"></script>
          <script src="/fe/scripts/factory/news/news.js"></script>
          <script src="/fe/scripts/controllers/news/author.js"></script>
          <!-- home page -->
          <script src="/fe/scripts/controllers/home.js"></script>
          <script type="text/javascript">
          $(document).ready(function() {
            $("#lightgallery").lightGallery({
              thumbnail:true,
              animateThumb: false,
              showThumbByDefault: false
            });
            $('#video').lightGallery({
              loadYoutubeThumbnail: true,
              youtubeThumbSize: 'default',
            });
          });
          </script>
          <script>
          $(window).scroll(function() {
            var baseHeight = $(this).height(); // for body, use $("body").height();
            var _pos = .44; // this the percentage of vertical scroll

            if($(this).scrollTop() / baseHeight > _pos) {
              $(".navbar-sticky-onscroll").addClass('sticky-nav');
              $("#atvlogo").addClass('sticky-logo');
            } else {
              $(".navbar-sticky-onscroll").removeClass('sticky-nav');
              $("#atvlogo").removeClass('sticky-logo');
            }

          })
          </script>
          <?php
          echo $script_google->script;
          ?>
        </body>
        </html>
