<div class="panel panel-info">
	<div class="panel-heading"><i class="icon-info"></i> ATV Details</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1 pad_md_vert">
			<img alt="{[{ atv.title }]}" src="{[{ s3 }]}{[{ atv.picture }]}" class="img-responsive center-block">
			</div>
			<div class="col-sm-5 pad_md_vert mv_centered">
				<span class="title">{[{ atv.title }]}</span> <br>
				<label class="clr_orange">{[{ atv.subtitle }]}</label> <br>
				<p>
					{[{ atv.features }]}
					<div ng-bind-html="desc"></div>
				</p>
				<label class="clr_orange">Rental Prices</label> <br>
				<span class="rental_prices">
					<div ng-repeat="data in rentalprice">
						<div ng-if="atv.id==data.atvid">
							${[{ data.price }]}/<span class="clr_orange">{[{ data.totalhr }]} HR</span><br>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>