
<!-- Banner Starts -->
<div class="top-banner-inner">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <h1 class="stronger">Become an Agent</h1>
        </div>
    </div>
</div>
<!-- Banner ends -->

<div class="container main-body" ng-controller="RegistrationCtrl" id="registrationpage">
    <div class="row">
        <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.</div>
        <div class="left-side pull-left" style="" ui-view>
            <div class="form-header pull-left body-header">
                <div class="title-header pull-left">
                    <h3> Activated</h3>
                </div>
            </div>
                <div class="form-white shadow">
                    <?php echo $this->getContent();?>
                </div>
        </div>
    </div>
</div>
