
<!-- Banner Starts -->
<div class="top-banner-inner">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <h1 class="stronger">Become an Agent</h1>
        </div>
    </div>
</div>
<!-- Banner ends -->
<div class="form-header pull-left body-header">
    <div class="title-header pull-left">
        <h3> Registration Success!</h3>
    </div>
</div>
<div class="form-white shadow">
    Now to fully complete your registration, please check your email for the activation link.
</div>
