@media screen and (max-width:1000px) {
  #authorpage .featured {
    min-height:160px!important
  }
  #authorpage .blogtitle {
      font-size:25px!important;
  }
}

@media screen and (max-width:991px) {
  #authorpage .featured {
    min-height:150px!important
  }
}

@media screen and (max-width:767px) {
  #authorpage .featured {
    min-height:400px!important
  }
}

@media screen and (max-width:600px) {
  #authorpage .featured {
    min-height:300px!important
  }
  #authorpage #authorname {
    font-size:25px;
  }
  #authorpage #occupation, #authorpage #location {
    display:block;
  }
}

@media screen and (max-width:500px) {
  #authorpage .featured {
    min-height:250px!important
  }
  #authorpage .blogtitle {
      font-size:20px!important;
  }
}

@media screen and (max-width:400px) {
  #authorpage .featured {
    min-height:200px!important
  }
  #authorpage #authorname {
    font-size:21px;
  }
}

@media screen and (max-width:350px) {
  #authorpage .blogtitle {
      font-size:17px!important;
  }
  #authorpage #authorname {
    font-size:19px;
  }
}
