.br { border:1px solid red !important; }

@pct1:10%;
@pct2:20%;
@pct3:30%;
@pct4:40%;
@pct5:50%;
@pct6:60%;
@pct7:70%;
@pct8:80%;
@pct9:90%;
@pct10:100%;

@xxsn:5;
@xsn:10;
@smn:15;
@mdn:30;
@lgn:60;
@xln:100;

@xxs:unit(@xsn, px);
@xs:unit(@xsn, px);
@sm:unit(@smn, px);
@md:unit(@mdn, px);
@lg:unit(@lgn, px);
@xl:unit(@xln, px);

@xsvw:unit((@xsn / 16), vw);
@smvw:unit((@smn / 16), vw);
@mdvw:unit((@mdn / 16), vw);
@lgvw:unit((@lgn / 16), vw);
@xlvw: unit((@xln / 16), vw);

.mg-xxs-b { margin-bottom: @xxs; }
.mg-xs-b { margin-bottom: @xs; }
.mg-sm-b { margin-bottom: @sm; }
.mg-md-b { margin-bottom: @md; }
.mg-lg-b { margin-bottom: @lg; }
.mg-xl-b { margin-bottom: @xl; }

.mg-xxs-l { margin-left: @xxs; }
.mg-xs-l { margin-left: @xs; }
.mg-sm-l { margin-left: @sm; }
.mg-md-l { margin-left: @md; }
.mg-lg-l { margin-left: @lg; }
.mg-xl-l { margin-left: @xl; }

.pad-xxs-l { padding-left: @xxs; }
.pad-xs-l { padding-left: @xs; }
.pad-sm-l { padding-left: @sm; }
.pad-md-l { padding-left: @md; }
.pad-lg-l { padding-left: @lg; }
.pad-xl-l { padding-left: @xl; }

.width(@width) { width: @width; }

.w-pct-1 { .width(@pct1) !important; }
.w-pct-2 { .width(@pct2) !important; }
.w-pct-3 { .width(@pct3) !important; }
.w-pct-4 { .width(@pct4) !important; }
.w-pct-5 { .width(@pct5) !important; }
.w-pct-6 { .width(@pct6) !important; }
.w-pct-7 { .width(@pct7) !important; }
.w-pct-8 { .width(@pct8) !important; }
.w-pct-9 { .width(@pct9) !important; }
.w-pct-10 { .width(@pct10); }

@orange: #e84e1a;

.bg-orange {
	background:@orange !important;
	color: #FFF !important;
}
.bg-tomato {
	background:tomato !important;
	color: #FFF !important;
}
.text-royalblue { color: royalblue; }
.text-red { color: red; }

.btn {
	&:hover {
		opacity: 0.9;
	}
}

.img-reservation { height: 120px !important; }

//full calendar custom
span.fc-time { display:block; }

.conflict {
	background:#000 !important;
	color: #FFF !important;
	text-decoration: line-through;
}