@media screen and (max-width:1466px) {
	.header, .header_main {
		min-height:340px;
	}
	.header_tip {
		padding:20px 20px 20px 150px!important;
	}
	.header_tip.center {
		padding:20px 20px 20px 20px!important;
	}
	.header_tip.right {
		padding:20px 150px 20px 20px!important;
	}
}
@media screen and (max-width:1366px) {
	.header, .header_main  {
		min-height:330px;
	}
	.header_tip {
		padding:20px 20px 20px 100px!important;
	}
}
@media screen and (max-width:1266px) {
	.header, {
		min-height:315px;
	}
	.header_main {
		min-height:400px!important;
	}
	.header_tip {
		padding:20px 20px 20px 50px!important;
	}
	.banner_title {
		width:60%!important;
	}
		.banner_title span {
			font-size:250%!important;
		}
}
@media screen and (max-width:1166px) {
	.header, .header_main  {
		min-height:300px;
	}
	.header_tip {
		top:30px;
		padding:20px 20px 20px 20px!important;
	}
}
@media screen and (max-width:1106px) {
	.header, .header_main  {
		min-height:280px;
	}
	.header_tip {
		top:50px!important;
		height:200px!important;
		padding:20px 20px 20px 80px!important;
	}
	.header_tip .title {
		font-size:190%;
	}
	.header_tip .subtitle {
		font-size:95%;
	}
}
@media screen and (max-width:980px) {
	.header, {
		min-height:270px;
	}
	.header_tip {
		top:50px!important;
		height:180px!important;
	}
	.header_tip .title {
		font-size:160%;
	}
	.header_tip .subtitle {
		font-size:90%;
	}
	.banner_title span {
		font-size:200%!important;
	}
}
@media screen and (max-width:856px) {
	.header, .header_main  {
		min-height:260px;
	}
	.header_tip {
		top:50px!important;
		height:170px!important;
		padding:20px 20px 20px 50px!important;
	}
	.header_tip .title {
		font-size:150%;
	}
	.header_tip .subtitle {
		font-size:100%;
	}
	.banner_title {
		width:65%!important;
	}
		.banner_title span {
			font-size:180%!important;
		}
}
@media screen and (max-width:767px) { /*BOOTSTRAP MOBILE VIEW*/
	.header, {
		min-height:250px;
	}
	.header_main {
		min-height:300px!important;
	}
	.header_tip,
	.header_tip.center,
	.header_tip.right {
		top:0px!important;
		height:auto!important; 	
		width:100%!important;
		padding:5px!important;
		text-align: left!important;
	}
	.header_main .header_tip,
	.header_main .header_tip.center,
	.header_main .header_tip.right {
		top:auto!important;
		bottom:-141px!important;
		height:auto!important; 	
		width:100%!important;
		padding:5px!important;
		text-align: left!important;
	}
	.header_tip .title {
		font-size:150%;
	}
	.header_tip .subtitle {
		font-size:100%;
	}
	.header_tip .reserve a {
		display:inline-block;
		padding:1%!important;
		background:#e84e1a;
		margin:0px 0 0 0;
		position:absolute; top:10px; right:20px;
		font-size: 66%;
	}
}
@media screen and (max-width:620px) { /*BOOTSTRAP MOBILE VIEW*/
	.header, .header_main  {
		min-height:240px;
	}
	.header_tip {
		top:0px!important;
		height:auto!important; 	
		width:100%!important;
		padding:5px!important;
	}
	.header_tip .title {
		font-size:120%;
	}
	.header_tip .subtitle {
		font-size:90%;
	}
	.header_tip .reserve a {
		padding:5px;
		margin:5px 0 0 0;
		position:absolute; top:10px; right:20px;
		font-size:90%;
	}
	.banner_title {
		width:70%!important;
	}
		.banner_title span {
			font-size:140%!important;
		}
}
@media screen and (max-width:525px) { /*BOOTSTRAP MOBILE VIEW*/
	.header,  {
		min-height:225px;
	}
	..header_main {
		min-height:235px!important;
	}
	.header_tip .title {
		font-size:115%;
	}
	.header_tip .subtitle {
		font-size:85%;
	}
	.reserve_label {display:none; visibility:hidden;}
	.reserve_icon { display:inline-block; visibility:visible;
	 	height:30px; font-weight:500;
	}
	.banner_title {
		width:80%!important;
	}
		.banner_title span {
			font-size:130%!important;
		}
	.breadcrumbs { font-size: 14px!important; }
}
@media screen and (max-width:380px) { /*BOOTSTRAP MOBILE VIEW*/
	.header, {
		min-height:200px!important;
	}
	.header_main { min-height:210px!important; }
	.header_tip .title {
		font-size:95%;
	}
	.header_tip .subtitle {
		font-size:82%;
	}
	.banner_title {
		width:90%!important;
	}
		.banner_title span {
			font-size:110%!important;
		}
	.breadcrumbs { font-size: 12px!important; }
	.header_main .header_tip,
	.header_main .header_tip.center,
	.header_main .header_tip.right {
		top:auto!important;
		bottom:-61px!important;
	}
}
