 /*==========================================MEDIAs SECTION =======================================================*/

/* ********************* FOR NAVIGATION *************************** */
@media screen and (max-width:2001px) {
  .nav { position:relative;left:19.5%; width:70%;}
  .trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1900px) {
  .nav { position:relative;left:17.8%; width:75%;}
}
@media screen and (max-width:1800px) {
  .nav { position:relative;left:16.5%; width:75%;}
  .trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1796px) {
  #cottonwood { position:relative; top:-11px;}
  .trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1700px) {
  .nav { position:relative;left:14.5%; width:75%;}
  .main-nav { position:relative;left:14.5%; width:89%;} /*MAIN LAYOUT menu*/
  .trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1600px) {
  .nav { position:relative;left:12.5%; width:80%;}
  .trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1535px) { /*i can't understand why?? why is this required! wag tatanggalin*/
	.nav { position:relative;left:11%; width:90%; }
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1516px) {
	.nav { position:relative;left:11%; width:85%;}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1465px) {
	.nav li { padding:0; } /*spacing of li in nav*/
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1499px) {
	.nav { position:relative;left:13%; width:85%;}
	.nav li {padding:0; } /*spacing of li in nav*/
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1448px) {
	.nav { left:13%; width:87%;}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1416px) {
	.nav { left:11%; width:89%;}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1386px) {
	/*.nav { position:relative;left:11%; width:89%;}*/
	.nav li { margin:0 .8%; padding:0; } /*spacing of li in nav*/
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1343px) {
	.logo { width:100px; height:100px; margin:-40px 0 0 1%; position:absolute; }
	.nav { left:9%; width:92%;}
	.nav li { margin:0 .6%; } /*spacing of li in nav*/
	.special_li { font-size:140%;}
	.specials_img {
		height:28px;
		margin:-5px 0 0 0;
	}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1313px) {
	.trail-nav { position:relative;left:0%; width:100%;}
  .nav_a { font-size:110%; }
}
@media screen and (max-width:1246px) {
	.logo_main { width:100px; height:100px; margin:0px 0 0 2%; position:absolute; }
	.nav li { margin:0 .4%; } /*spacing of li in nav*/
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1232px) {
	.logo { width:90px; height:90px; margin:-35px 0 0 -2px!important;}
	.nav {  left:8%;}
	.nav li { margin:0 .2%; }
  .nav_a { font-size:98%; }
	.special_li { font-size:125%; letter-spacing:1.5px;}
	.specials_img {
		height:23px;
		margin:-4px 0 0 0;
	}
	.socials_li .social-icons {
		width:25px; height:25px; margin:12px 2px 0 2px;
	}
	.trail-nav { position:relative;left:0%; width:100%;}
	#navContainer { width:75%;}
}
@media screen and (max-width:1144px) {
	.nav {  left:9.5%; width:93%;}
	.trail-nav { position:relative;left:0%; width:100%;}
	#cottonwood { position:relative; top:-7px; }
}
@media screen and (max-width:1038px) {
	.nav {  left:9%;}
	.nav li { margin:0 0%; }
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:1035px) {
	#navContainer { width:80%;}
  .nav {  width:94%; }
}
@media screen and (max-width:1021px) {
	.logo_main { width:90px; height:90px; margin:0px 0 0 2%; position:absolute; }
	.nav {  width:92%; }
	.nav_a { font-size:92%; }
	.special_li { font-size:105%;}
	.specials_img {
		height:20px;
		margin:-4px 0 0 0;
	}
	.trail-nav { position:relative;left:0%; width:100%; }
}
@media screen and (max-width:982px) {
	.logo_main { width:80px; height:80px; margin:0px 0 0 2%; position:absolute; }
	.logo { width:80px; height:80px; margin:-30px 0 0 -2px!important;}
	.nav {  left:8%;}
	.socials_li .social-icons {
		width:20px; height:20px; margin:14px 2px 0 2px;
	}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:966px) {
	.logo_main { width:70px; height:70px; margin:50px 0 0 0%; position:absolute; visibility:hidden; }
	.logo { width:70px; height:70px; margin:-90px 0 0 -8px!important;}
	.nav {  left:2%; width:96%;}
	.nav_a { font-size:89%; }
	.special_li { font-size:90%; 	margin:0 0 0 0%!important;}
	.specials_img {
		height:20px;
		margin:-4px 0 0 0;
	}
	.socials_li .social-icons {
		width:19px; height:19px; margin:14px 1px 0 1px;
	}
	.trail-nav { position:relative;left:0%; width:100%;}
  #navContainer { width:90%;}
}
@media screen and (max-width:888px) {
	#navContainer { width:95%;}
  .nav {  left:1.5%; width:97%;}
}
@media screen and (max-width:885px) {
	.nav {  left:-1%; width:104%;}
	.main-nav {left:0%; width:97%;}
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:841px) {
	.nav {  left:-4%; width:108%;}
	.main-nav {left:-2%; width:98%;}
	.main-nav a { font-size:80% }
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:796px) {
	.main-nav {left:-2%; width:97%;}
	.main-nav a { font-size:80% }
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:795px) {
	.nav {  left:-5%; width:104%;}
	.nav_a { font-size:80%; }
	.main-nav {left:-2%; width:97%;}
	.main-nav a { font-size:75% }
	.special_li { font-size:85%; 	letter-spacing:1px;}
	.specials_img {
		height:15px;
		margin:-4px 0 0 0;
	}
  .socials_li .social-icons {
    width:17px; height:17px; margin:15px 2px 0 2px;
  }
	.trail-nav { position:relative;left:0%; width:100%;}
}
@media screen and (max-width:767px) { /*BOOTSTRAP MOBILE VIEW*/
	.logo { width:80px; height:80px; margin:0px 0 0 -8px!important;}
	.logo_main { width:80px; height:80px; margin:0px 0 0 1%; position:absolute; visibility:visible;}
	.logo { z-index:1;}
	.logo_main { z-index:1;}
	.nav {  position:relative;left:0%; width:100%; margin:0!important; padding:0!important;  text-align:center;}
	.nav li { width:100%; padding:0; margin:0;}
	.nav_a, .main-nav a { font-size:120%; }
	.navbar-collapse {padding:0 !important;}
		.special_li {
			font-size:100%;
		  margin:0 0 0 0%!important;
		}
		.specials_img {
			height:20px;
			margin:-4px 0 0 0;
		}
		.socials_li .social-icons {
	    width:27px; height:27px; margin:8px 2px 0 2px;
	  }
	.trail-nav { position:relative;left:0%; width:100%;}
	.trail-nav li a {height:50px; width:100%;  }
	#cottonwood { position:relative; top:0px; }
	#navContainer { width:100%;}
}

@media screen and (max-width:332px) {
		#cottonwood { position:relative; top:-12px; }
}
/* ********************* END OF NAVIGATION RESPONSIVE *************************** */
