/*UNIVERSAL*/
@font-face {
  font-family: beltway;
  src: url('beltway.eot') format('embedded-opentype'),
  url('beltway.ttf') format('truetype'),
  url('beltway.woff') format('woff'),
  url('beltway.svg') format('svg'),
  url(beltway.otf);
}
body {
  margin:0;padding:0;
}
.wrapper-md { padding:15px}
.font15{
  font-size: 15px;
}
/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.no_margin { margin:0 !important; padding:0;}
a, a:hover, a:visited {text-decoration:none; cursor:pointer}
.bl {display:block;}
.inbl {display:inline-block;}
.center {margin:0 auto!important; text-align:center;}
.fc-state-highlight {background:#008080;}
.pad_sm { padding:10px; }
.pad_top_sm { padding-top:10px; }
.pad_sm_vert { padding-top:10px; padding-bottom:10px;}

.pad_md { padding:4%; }
.pad_top_md {padding-top:4%;}
.pad_md_vert {padding-top:4%; padding-bottom:4%;}

.mg_sm { margin:10px; }
.mg_top_sm { margin-top:10px; }
.mg_sm_vert { margin-top:10px; margin-bottom:10px;}
.mg_tb_xs { margin:5px 0; } /* use in trails hour map*/
.mg_tb_sm { margin:10px 0; }

.bg_dark {background:#222;}
.bg_orange {background:#e84e1a!important;}
.bg_yellow {background:#f9b234;}
.bg_yellowish {background:#ffedcd;}

.clr_yellow { color:#f9b234!important; }
.clr_orange { color:#e84e1a!important; }
.clr_white {color:#fff!important;}
.clr_dark { color:#555!important;}

.rocky_title {
  font-family: 'beltway', cursive;
  color:#f9b234;
  font-weight:700;
  font-size:35px;
  text-shadow: 5px 5px 0 #000, -5px -2px 0 #000, 5px -2px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
}
.rocky_title1 {
  font-family: 'beltway', cursive;
  color:#f9b234;
  font-weight:700;
  font-size:30px;
  text-shadow: 5px 5px 0 #000, -5px -2px 0 #000, 5px -2px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
}
.mini_title {
  display:inline-block;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight:500;
  color:#e84e1a;
  font-size:120%;
  line-height:18px;
}
.mini_date {
  display:block;
  font-size:90%;
}

.btn_orange {
  display:inline-block;
  background:#e84e1a;
  padding:1% 2.5%;
  color:white;
  min-width:140px;
  text-align:center;
}
.btn_orange a {
  display:inline-block!important;
  width:100%; height:100%;
}
.btn_orange:hover {
  -webkit-filter: brightness(110%);
  -moz-filter:brightness(110%);
  filter:brightness(110%);
  font-weight:500;
}
.btn_orange,
.btn_orange:hover,
.btn_orange:visited {
  color:white;
}

.pointer {cursor:pointer}

.bg-img {
  background-size:cover!important;
  background-repeat:no-repeat;
  background-position:center center!important;
  width:100%;
}

/*SOCIAL BUTTONS*/
.socialbuttons {
  max-height:30px;
}
.socialbuttons .button-div{
  display:inline-block;
  max-height:30px;
  float:left;
  margin-right:5%;
}
.fb-like {
  margin-top:-1px!important;
}
.pinterest-img {
  visibility: collapse;
  position: absolute;
  top:0;
  left:0;
  height: 0px;
}
/*SOCIAL BUTTONS ends*/

/* =============================================================================================== */
/*BLOG VIEW STYLE*/
#view .newstitle {
  display:inline-block;
  margin-bottom:12px;
  color: #FF9641;
  font-size: 45px;
  word-wrap: break-word;
  padding-top: 15px;
}
#view #featimage, #view #featvideo, #view iframe {
  background-size:cover!important;
  background-repeat:no-repeat;
  background-position:center center!important;
  width:100%;
  min-height:450px;
}

#view .datepublished,
#view .author, {
  color: #FF9641;
}

#view .categories,
#view .tags {
  color: #ff8421!important;
  font-size:90%;
}

#view .categories:hover,
#view .tags:hover {
  color: #FF9641;
}

#view .body img {
  max-width:100%;
}

#aboutauthor .authorname {
  font-size:17px;
  color: #FF9641;
  font-weight:bold;
  display:block;
  margin-bottom:8px;
}

#aboutauthor #authorphoto {
  width:80px; height:80px; border-radius:50%
}

/*BLOG VIEW STYLE*/
/* =============================================================================================== */

.featuredvideo iframe {
  width:100%;
  min-height:225px;
  max-height:225px;
  margin:0; padding:0;
}

.abouttheauthor {
  font-weight:bold;
  color:#555;
}

#authorpage #authorname {
  font-size:31px;
  color:#555;
  font-weight:600;
}

#authorpage .authorphoto {
  width:250px; height:250px;
  border-radius:50%;
  background-size:100% 100%!important;
  background-repeat:no-repeat!important;
  background-position:center center!important;
  margin:3% auto 2% auto;
  border:6px solid white;
  box-shadow:0 2px 5px #555;
}

#authorpage .alittleabout {
  padding-left:10px;
  font-size:20px;
  color:#555;
  font-weight:500;
  border-style:solid;
  border-width:2px 0 2px 0;
  border-color:#555;
  padding:2px 0 2px 15px;
  margin:2% 0
}

#authorpage .blogtitle {
  font-size:30px;
  font-weight:500;
  color: #555;
}
#authorpage .blogtitle:hover {
  color: #FF9641;
}

#authorpage .categories,
#authorpage .authorname {
  color: #f9b234;
}

#authorpage iframe {
  width:100%;
  height:180px;
}
/*********************************************/

.img-responsive-parent { margin: -5px 0;}
.header {
  background-size:cover;
  background-position:top right;
  min-height:350px;
}
.header_main {
  /*background-size:cover;
  background-position:center center;
  background-repeat:no-repeat!mportant;
  min-height:350px;*/
}
.header_title {
  background:rgba(0,0,0,.5);
  color:white;
  width:50%;
  margin:0 auto;
  padding:.5%;
  text-align:center;
}
.header_tip.left,
.header_tip {
  width:50%; height:230px;
  position:relative; top:50px;
  padding:20px 20px 20px 200px;
  color:white;
}
.header_tip.right {
  width:50%;
  height:230px;
  position:relative; top:50px;
  padding:20px 200px 20px 20px;
  float: right;
  color:white;
}
.header_tip .title {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight:600;
  text-shadow:0 10px 2px #222;
  font-size:250%;
}
.header_tip .subtitle {
  font-size:125%;
  text-shadow:0 5px 5px #222;
}
.header_tip .reserve a:first-child {
  display:inline-block;
  padding:2%;
  background:#e84e1a;
  margin:10px 0 0 0;
}
.header_tip .reserve a {
  color:white;
}
.reserve_icon { display:none; visibility:hidden;}

.logo { width:120px; height:120px; margin:-55px 0 0 2%; position:absolute; transition:all ease .7s; }
.logo_main { width:120px; height:120px; margin:0px 0 0 2%; position:absolute; }

/*CUSTOMIZE NAV BAR*/
.sticky-nav {
  position:fixed;
  top:-10px; margin-top:0; padding:0;
  width:100%;
  z-index:10;
  transition:all ease .7s;
}
.sticky-logo {
  margin:0 0 0 2%;
  transition:all ease .7s;
}

.navbar {
  border-radius:0;
  margin:5px 0 0 0;
  border:none;
  background:#222;
}
.nav { position:relative;left:19.5%; width:70%;} /* TOP PAGE menu */
.trail-nav { position:relative;left:0%; width:100%;}
#navContainer { width:70%; }
.trail-nav li a {height:50px; }
.trail-nav li a.active {color:orange!important; background:white }
.nav li { margin:0 1%; padding:0; } /*spacing of li in nav*/
.nav li.active { background:#f9b234; }
.nav li.active a { background:#f9b234!important; color:#222!important;}

.nav_a { /*a of nav li*/
  font-family: 'Palanquin Dark', sans-serif;
  font-size:120%;
  font-weight:600;
  color:#fefefe!important;
}
.nav li:hover .nav_a:hover {
  color:#f9b234!important;
}

.contactus_li {
  margin-right:0%!important;
}
.special_li {
  margin:0 0 0 1%!important;
  font-family: 'beltway', cursive;
  color:#f9b234;
  display:inline-block;
  font-size:130%; font-weight:500;
  letter-spacing:2px;
  max-height:50px;
}
.specials_img {
  height:28px;
  margin:-5px 0 0 0;
}
.special_li a {
  color:#f9b234!important;
}
.socials_li {
  margin:0%!important;
  display:inline-block;
  height:50px;
}
.socials_li a {
  margin:0!important; padding:0!important;
  display:inline-block!important;
}
.socials_li .social-icons {
  width:32px; height:32px; border-radius:50%;
  margin:8px 2px 0 2px;
}
.socials_li .social-icons:hover {
  -webkit-filter: brightness(150%);
  -moz-filter:brightness(150%);
  filter:brightness(150%);
}

/*THREE round images in top page*/
.the_ride { width:86.2%; height:inherit; }
.where_to_go { width:100%; height:inherit }
.reservations { width:74.7%; height:inherit; }

.roundimages_title, .theride {
  font-family: 'Palanquin Dark', sans-serif;
  color:#e84e1a!important;
  font-size:150%;
  font-weight:600;
  letter-spacing:-1px;
}

#call_us {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight:700;
  font-size:150%;
  color:#222;
}

#atvmap {
  background:url('/img/frontend/toppage/map.png');
  background-position:center center;
  background-size:cover;
  min-height:250px;
}

#footerspan {
  float:right;
}
#footerlogo {
  position:absolute;
  margin:10px 0 0 -80px;
}
#footertitle {
  font-family: 'Palanquin Dark', sans-serif;
  font-size:155%;
  font-weight:500;
}

/* ========================================== ATVS & PRICES ======================================================= */
#rentalhours_icon, #freebies_icon {
  position:relative; top:-9px;margin-right: 10px
}
.title {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight:600;
  font-size:180%;
}

ul.requirements {
  list-style: none;
  padding:0;
  margin:0;
}
.requirements li {
  padding-left: 2em;
  text-indent: -.7em;
}

.requirements li:before {
  content: "• ";
  color: #e84e1a; /* or whatever color you prefer */
  font-size:35px;
  margin:0; padding:0;
  position:relative;top:8px;
}

.rental_prices {
  font-size:170%;
}

/* ==== CONTACT US ==== */
#contact-img {
  border:5px solid white;
  box-shadow:0 0 3px #999;
}
#contact-message {
  font-size:2vw;
  font-family: 'Rajdhani', sans-serif;
  text-align:justify;
}
#contactus {
  color:#635c4b;
  padding:0 0 15px 0;
  border-bottom:2px dashed #f9b233;
}
#contactus-header {
  border-bottom:2px solid #f9b233;
  font-size:26px;
  font-weight:600;
  letter-spacing:-1.2px;
  text-align:center;
  margin:0 0 15px 0;
}
#contactus-lbody {
  border-right: 1px solid #ddd;
}

.contact-input {
  margin:0 0 2% 0;
  height:40px;
  width:100%;
  background:AntiqueWhite;
  border:none;
  outline:none;
  padding:0 0 0 11px;
  font-size:17px;
}
#contactus textarea {
  resize:vertical;
  min-height:140px;
}

#captcha-container {
  display:inline-block;
  width:200px;
  margin:0 auto!important;
  padding:25px;
  border:1px solid #999;
  text-align:center;
}
#txtCaptchaDiv {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
    );
    border-right:5px solid white;
    border-left:5px solid white;
    border-bottom:2px solid #bbb;
    display:inline-block;
  }
  /* ==== CONTACT US ENDS ==== */

  /* ========================================== ATVS & Contactus ======================================================= */
  .contact_label{
    font-size:80%;
    color:gray;
  }
  .reditu{
    color:red;
  }
  .fill_col{
    width: 100% !important;
    font-size: 20px;
    padding-left: 8px;
  }
  .textarea{
    height:120px;
  }
  .submitbutton{
    background: #ff8400;
    text-decoration: none !important;
    font-weight: normal !important;
    font-size: 14px !important;
    color: white !important;
    cursor: pointer;
    padding:15px;
    border-radius: 2px;
    width:210px;
    border: none;
  }
  .contactgray{
    color:gray;
  }
  .contactfont {
    font-size:100%;
    font-weight: bold;
  }
  .borderblck{
    border-right: 3px solid #ffc04d;
    padding: 0px 50px 15px 0px;
  }
  .whitebg{
    background: white;
    border-radius: 20px;
    padding: 30px;
  }
  .msgsent{
    color:yellowgreen;
    font-weight: bold;
  }
  .msgerr{
    color:red;
    font-weight: bold;
  }
  .captchatxt{
    background: #323232;
    padding: 8px 30px 8px 30px;
    color:#f2a91e;
    font-size:120%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .margin_top {
    display: block;
    margin-left: auto;
    margin-top: 10px;
  }
  .pad {
    padding-right: 5px !important;
    padding-left: 0px !important;
  }
  .pad1 {
    padding-right: 0px !important;
    padding-left: 5px !important;
  }
  #txtInput{
    /*margin-top:34px;margin-left:-60px;*/
    text-align:center;
  }
  .youtube-play {
    position: absolute;
    top: 0px;
    margin: 22% 35%;
    text-align: center;
  }
  .youtube-play1 {
    position: absolute;
    top: 0px;
    margin: 24% 36%;
    text-align: center;
  }
  .youtube-play2 {
    position: absolute;
    top: 0px;
    margin: 20% 33%;
    text-align: center;
    width: 30%;
  }
  .youtube-play-gallery {
    position: absolute;
    top: 0px;
    margin: 22% 34%;
    text-align: center;
  }

  .gal img{
    height: 200px;
    width: 100%;
    margin: 0px 0px 30px 0px !important;
    border-radius:5px;
    border:solid 5px white;
    transition: all .2s ease-in-out;
  }
  .gal img:hover{
    transform: scale(1.1);
  }
  .gal2 .imgz{
    height: auto;
    width: 100%;
    margin: 0px 0px 20px 0px !important;
    border-radius:5px;
    border:solid 5px #ffedcd;
    transition: all .2s ease-in-out;
  }
  .gal2 .imgz:hover{
    opacity: .9;
  }
  .padbot{
    padding-bottom: 50px;
  }


  /* RESERVATIOn */
  [bold]{
    font-weight: bold !important;
  }
  .graytext1{
    color:gray;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .whitepanel{
    background: white;
    padding: 30px;
    border: #D8D4D4 1px solid;
  }
  .lightgray{
    background: #f1f1f1;
  }
  .stronger{
    color: #a8a8a8;
    font-style: bold;
    font-size: 30px;
  }
  .callusat{
    color:red;
    font-size: 20px;
  }
  .reddot{
    color:red;
  }
  .linegreen{
    height: 2px; background-color: #f9b234; text-align: center;
  }
  .textintheline{
    color:#f9b234;background-color: white; position: relative; top: -0.5em;left:-250px;padding:0px 5px 0px 5px;font-weight: bold;
  }
  .textintheline1{
    color:#f9b234;background-color: white; position: relative; top: -0.5em;left:-235px;padding:0px 5px 0px 5px;font-weight: bold;
  }
  .textintheline2{
    color:#f9b234;background-color: white; position: relative; top: -0.5em;left:-247px;padding:0px 5px 0px 5px;font-weight: bold;
  }
  .textintheline3{
    color:#f9b234;background-color: white; position: relative; top: -0.5em;left:-205px;padding:0px 5px 0px 5px;font-weight: bold;
  }
  .textintheline4{
    color:#f9b234;background-color: white; position: relative; top: -0.5em;left:-250px;padding:0px 5px 0px 5px;font-weight: bold;
  }
  .graytext{
    color:gray;
    font-size: 10px;
  }
  .mejored{
    color:red;
  }

  /* ----------Blog ---*/
  .list-title-blog {
    color: #666;
    cursor: pointer;
    margin-bottom: 20px;
  }
  h4.blog-title-list {
    margin-top: 15px;
  }
  h4 {
    font-size: 16px;
    line-height: 28px;
  }
  .list-news-wrapper {
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding-top: 15px;
  }
  .news-thumb-container {
    position: relative;
    /*width: 30%;*/
    height: 170px;
    background-size: cover !important;
    background-position: center !important;
    margin-left: 15px;
    padding: 0px;
  }
  .pinterest-img {
    /* opacity: 0; */
    visibility: collapse;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
  }
  .size25 {
    font-size: 25px;
  }
  .rowz {
    margin-left: 0px;
    margin-right: 0px;
  }
  .list-title-blog:hover .news-thumb-container,
  .authorsblogs:hover .featured {
    border: 5px solid #FF9641;
  }

  .list-title-blog:hover .news-title,
  {
    color: #FF9641;
  }
  .orange {
    color: rgb(222, 162, 39);
    font-size: 12px;
  }
  .orange1 {
    color: rgb(222, 162, 39);
    font-size: 20px;
    font-weight: bold;
  }
  .orange2 {
    color: #ff8421;
    font-size: 17px;
  }
  .news-list-show-more {
    width: 98%;
    height: 30px;
    margin: auto;
  }
  .gal-list-show-more {
    width: 100%;
    height: 30px;
    margin: auto;
  }
  .categorylist-wrapper > span {
    display: block;
    font-size: 17px;
  }

  .styled-hr {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
    margin-top: 10px;
  }

  .odd {
    color: #ff8421;
    font-size: 20px;
  }
  .even {
    color: #ff8421;
    font-size: 12px;
  }

  .col-xs-15{
    width:20%;
    padding:20px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color:white;
  }
  .col-xs-15 a{
    color:white;
    transition: all .2s ease-in-out;
  }
  .col-xs-15 a:hover{
    color:#ff7400;
  }
  .orangge{
    background: #f9b234;
    height: auto;
    width: auto;
    margin-top: 20px;
  }
  .orangelink{
    color:#ff7400 !important;
  }
  .blacklink{
    color: #333 !important;
  }

  .img-gallery {
    height:200px;
    margin: 0px 0px 30px 0px !important;
    border-radius:5px;
    border:solid 5px white;
    transition: all .2s ease-in-out;
  }
  .img-gallery:hover {
    transform: scale(1.1);
  }
  .rssfeed{
    height: 10%;
    width: 10%;
    margin-top: -3px;
  }

  /* ========================================== MEDIAs SECTION =======================================================*/
  @media screen and (max-width:1200px) {
    .col-sm-12{
      padding-right:0px;
      padding-left: 0px;
    }
    #rentalhours_icon, #freebies_icon {
      position:relative; top:-5px;
      width:38px; height:inherit;
    }
    #rentalhours_title, #freebies_title {
      font-size:200%;
    }
    #txtInput{
      margin-left:0px;
    }
    .youtube-play {
      margin: 26% 35%;
    }
    #view .newstitle {
      font-size: 38px;
    }
  }
  @media screen and (max-width:991px) {
    .news-thumb-container {
      height: 120px;
    }
    .youtube-play {
      margin: 20% 27%;
    }
    .youtube-play1{
      margin: 20% 32% !important;
    }
    .textintheline,.textintheline1,.textintheline2,.textintheline3,.textintheline4{
      left:0px !important;
    }
    #rentalhours_icon, #freebies_icon {
      position:relative; top:-2px;
      width:30px; height:inherit;
    }
    #rentalhours_title, #freebies_title {
      font-size:150%;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:370px;
    }
    #view .newstitle {
      font-size: 32px;
    }
  }
  .copyright {
    float: right;
  }
  .privacy-policy{
    /*float: right;*/
    /*text-align:center!important;*/
  }
  .terms-of-user {
    margin-right: 15%;
    margin-left: 10%
  }

  .termsofuse-content {
    margin-left: 30px;
  }
  @media screen and (max-width:900px) {
    #footerspan {
      text-align:center!important;
    }
    .termsofuse-content {
      margin-left: 0;
    }
    .copyright{
      text-align:center!important;
    }

    .terms-of-user{
      text-align: center!important;
    }
    .privacy-policy {
      text-align: center!important;
    }
    #footerlogo {
      display:inline-block!important;
      position:relative!important;
      margin:0 auto;
    }
    #footertitle {
      display:inline-block!important;
      margin:0!important;
    }
    .col-xs-15{
      width:100%;
      padding:10px;
      font-size:16px;
      text-align: center;
    }
  }
  @media screen and (max-width:767px) {
    .lightgray {
      width: 100.90%;
    }
    .gal img{
      margin: 0px 0px 10px 0px ;
    }
    .youtube-play {
      margin: 16% 45%;
    }
    .youtube-play1{
      margin: 25% 43% !important;
    }
    .youtube-play-gallery {
      position: absolute;
      top: 0px;
      margin: 24% -7%;
      text-align: center;
    }
    .pad {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }

    .trailinfo_pad {
      padding-right: 5px !important;
      padding-left: 0px !important;
    }
    .trailinfo_pad1 {
      padding-right: 0px !important;
      padding-left: 5px !important;
    }

    .mv_fw {width:100%;}
    .mv_centered { text-align:center; margin:0 auto;}
    .mv_pad_sm { padding:10px; }
    .mv_pad_top_sm { padding-top:10px; }
    .mv_pad_sm_vert { padding-top:10px; padding-bottom:10px;}
    /*THREE round images in top page*/
    .the_ride { width:60.2%; height:inherit; }
    .where_to_go { width:74%; height:inherit }
    .reservations { width:48.7%; height:inherit; }

    #rentalhours_icon, #freebies_icon {
      position:relative; top:-8px;
      width:38px; height:inherit;
    }
    #rentalhours_title, #freebies_title {
      font-size:250%;
    }

    #requirements_title { display:block; text-align:center; }

    #footerspan {
      display:inline-block;
      width:100%;
      float:none;
      text-align:center;
    }
    .borderblck,.pad1{
      border-right:none;
      padding: 0px !important;
    }
    #footerlogo {
      width:80px; height:80px;
    }
    #footertitle {
      margin:-10px 0 0 0;
      font-size:180%;
    }
    #footercontact {
      display:inline-block;
      width:100%;
      margin:5% 0 0 0;
      text-align:center;
    }
    .news-thumb-container {
      width: 95%;
      height: 300px;
    }

    #aboutauthor {
      text-align:center;
    }
    #aboutauthor .abouttheauthor {
      font-size:22px;
    }
    #aboutauthor #authorphoto {
      width:120px; height:120px;
    }
    #view .newstitle {
      font-size: 32px;
    }

    #contact-message {
      font-size:3vw;
    }
    #contactus-lbody {
      border-right: none;
    }

    .footer-sm {
      margin:0 !important;
      padding-left:0 !important;
      padding-right:0 !important;
      box-sizing: border-box;
    }
    .copyright {
      float: none;
    }
    .privacy-policy{
      /*float: right;*/
      display:inline-block;
      width:49%;
      text-align:center!important;
      box-sizing: border-box;
    }
    .terms-of-user {
      display:inline-block;
      width:49%;
      margin-right: 0;
      margin-left: 0;
      text-align:center;
      box-sizing: border-box;
    }

    /*.termsofuse-content {
      margin-left: 30px;
    }*/
  }
  @media screen and (max-width:700px) {
    .news-thumb-container {
      width: 94%;
    }
    .youtube-play {
      margin: 17% 45%;
    }
  }
  @media screen and (max-width:650px) {
    .youtube-play {
      margin: 19% 45%;
    }
    #view .newstitle {
      font-size: 30px;
    }
    .youtube-play-gallery {
      margin: 24% -10%;
    }
  }

  @media screen and (max-width:600px) {
    .news-thumb-container {
      width: 93%;
    }
    .youtube-play {
      margin: 20% 45%;
    }
    #view .newstitle {
      font-size: 25px;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:330px;
    }
    .youtube-play-gallery {
      margin: 23% -10%;
    }
  }
  @media screen and (max-width:575px) {
    .img-gallery {
      height:175px;
    }
  }
  @media screen and (max-width:550px) {
    .youtube-play {
      margin: 25% 45%;
    }
    .youtube-play-gallery {
      margin: 21% -12%;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:300px;
    }
    .img-gallery {
      height:150px;
    }
  }
  @media screen and (max-width:500px) {
    .gal img{
      height: auto;
      width:auto;
    }
    .youtube-play-gallery {
      margin: 19% -13%;
    }
    .rocky_title {
      font-size:195%;
    }
    #call_us {
      font-size:150%;
    }
    #footertitle {
      font-size:150%;
    }
    #footercontact {
      font-size:90%;
    }
    .col-xs-15{
      font-size:10px;
    }
    .news-thumb-container {
      width: 92%;
    }

    #rentalhours_icon, #freebies_icon {
      position:relative; top:-3px;
      width:34px; height:inherit;
    }
    #rentalhours_title, #freebies_title {
      font-size:180%;
    }

    #view #featimage, #view #featvideo, #view iframe {
      min-height:280px;
    }
  }
  @media screen and (max-width:475px) {
    .img-gallery {
      height:125px;
    }
    .SedonaVortexHealingATV {
      font-size: 25px;
    }
  }
  @media screen and (max-width:450px) {
    .news-thumb-container {
      height:250px;
    }
    .youtube-play {
      margin: 23% 42%;
    }
    .youtube-play-gallery {
      margin: 17% -15%;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:270px;
    }
    .img-gallery {
      height:115px;
    }
    .SedonaVortexHealingATV {
      font-size: 20px;
    }
  }
  @media screen and (max-width:420px) {
    .youtube-play-gallery {
      margin: 21% -11%;
      width:40px; height:40px;
    }
  }
  @media screen and (max-width:400px) {
    .news-thumb-container {
      width: 91%;
      height:200px;
    }
    .youtube-play {
      margin: 20% 41%;
    }
    .youtube-play-gallery {
      margin: 19% -13%;
    }
    #aboutauthor #authorphoto {
      width:100px; height:100px;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:230px;
    }
    #view .newstitle {
      font-size: 22px;
    }
    .img-gallery {
      height:95px;
    }
  }

  @media screen and (max-width:360px) {
    .news-thumb-container {
      width: 90%;
      height:180px;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:210px;
    }
    .youtube-play-gallery {
      margin: 19% -15%;
    }

  }

  @media screen and (max-width:320px) {
    .news-thumb-container {
      width: 89%;
    }
    .youtube-play {
      margin: 22% 40%;
    }
    .youtube-play-gallery {
      margin: 15% -17%;
    }
    #aboutauthor .abouttheauthor {
      font-size:19px;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:180px;
    }
    .terms-of-user{
      text-align: center!important;
    }
    .privacy-policy {
      text-align: center!important;
    }

  }

  @media screen and (max-width:300px) {
    .news-thumb-container {
      width: 88%;
    }
    .youtube-play {
      margin: 22% 39%;
    }
    #view #featimage, #view #featvideo, #view iframe {
      min-height:160px;
    }
  }

  @media screen and (max-width:280px) {
    .news-thumb-container {
      width: 87%;
      height:160px;
    }
    .youtube-play {
      margin: 22% 38%;
    }
  }

  .header_tip.center {
    padding: 20px 40px 20px 40px;
  }

  .terms-of-use {
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .terms-of-use  p {
    line-height: 1.7em;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .terms-of-use b{
    margin-bottom: 50px;
  }
  .bullets {
    font-size: 10px!important;
  }
  /*.terms-of-use > ul {
    margin-bottom: 50px;
  }
  .terms-of-use ul li {
    margin-bottom: 25px;
  }
  .terms-of-use ul li b{
    font-size: 18px;

  }
  .terms-of-use ul li p{
    line-height: 1.7em;
    font-size: 16px;
  }
  .terms-of-use ul li span p{
    margin-left: 25px;
  }

  .terms-of-use ul li span span p{
    margin-left: 50px;
  }*/
