<style>
.chosen {
 	border-color:green!important;
}
.authors:hover {
	border-color:tomato!important;
}
</style>
<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> Media Gallery</div>
	<div class="panel-body">
		<div class="col-md-12">
			<div class="loader" ng-show="imageloader">
				<div class="loadercontainer">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					Uploading your images please wait...
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-show="imagecontent">
			<div ngf-drop ngf-select class="drop-box"
			ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
			accept="image/*" ngf-change="upload($files)">Drop images here or click to upload</div>
		</div>
    <div class="col-sm-12">
      <alert ng-repeat="alert in modalalerts" type="{[{alert.type }]}" close="closeAlert(type='modal',$index)">{[{ alert.msg }]}</alert>
    </div>
		<div class="line line-lg"></div>
		<div ng-show="imagecontent" class="col-sm-3" ng-repeat="image in author_images">
			<div id="author{[{image.id}]}" class="authors" ng-click="chosenimage(image.id, image.imagename)"
					style="background:url('{[{amazonlink + image.imagename}]}');
						background-position:center center;
						background-size:100% 100%;
						min-height:160px;
						cursor: pointer;
						border:4px solid #ccc;
						margin:1%;">
				<span class="btn btn-xs btn-success chosenimg" id="{[{image.id}]}" ng-show="greencheck"><i class="fa fa-check-square"></i></span>
        <a class="btn btn-xs btn-default pull-right" title="Delete" ng-click="deleteimg(image.id)"><i class="icon icon-trash text-danger"></i></a>
      </div>
		</div>

		<div class="col-sm-12">

		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-info" ng-click="ok(chosenimageid, chosenimagename)" scroll-to="Scrollup">Okay</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
