<style type="text/css">
.card{
	background-color: #eee;
	padding: 20px;
	margin-bottom: 10px;
}	

</style>
<script>
	$("#iddiv").hide();
	$("#replyproposal").hide();
	$("#btn2").hide();
	$("#reply").click(function(){
		$("#showproposal").hide();
		$("#btn1").hide();
		$("#replyproposal").show();
		$("#btn2").show();
	});
	$("#cancel").click(function(){
		$("#showproposal").show();
		$("#btn1").show();
		$("#replyproposal").hide();
		$("#btn2").hide();
	});

	
</script>
<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="bg-light lter b-b wrapper-md">


	</div>
	<div class="wrapper-md"  id="showproposal" name="showproposal">
		<div class="panel panel-default">
			<div class="panel-heading"  >
				<b>Message Information</b>
			</div>
			<div class="panel-heading"  >
				<div class="row">
					<div class="col-sm-3">
						Name 
					</div>
					<div class="col-sm-9">
						<b>{[{ cname }]}</b>
					</div>
					<div class="col-sm-3">
						Email 
					</div>
					<div class="col-sm-9">
						{[{ email }]}
					</div>
					<div class="col-sm-3">
						Date submitted 
					</div>
					<div class="col-sm-9">
						{[{ datesubmitted }]}
					</div>
				</div>
			</div>
			<div class="row wrapper">
				<div class="panel-heading">
					<b>Message</b>
				</div>
				<div class="col-sm-12">
				
					{[{ content }]}
				</div>
			</div>


			<div class="row wrapper">
				<div class="panel-heading">
					<b>Replied Message</b>
				</div>
				<div class="col-sm-12" ng-repeat="mem in datalist">
					<div class="card">
					<b>Admin reply:</b>
					<p>{[{ mem.date }]}</p>
					<div>{[{ mem.message }]}</div>
					<hr>
					</div>
				</div>
			</div>


		</div>



	</div>

	<div class="modal-footer" ng-hide="process==true" id="btn1">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" id="reply" name="reply">Reply</button>		
	</div>

	

</form>
<!--===reply proposal===-->
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="formsubmit" ng-submit="send(reply)">
	<div class="wrapper-md"  id="replyproposal" name="replyproposal"> 
		<div class="panel panel-default">
			<div class="panel-heading"  >
				<b>Reply</b>
			</div>
			<div class="panel-heading"  >
				<div class="row">
					<div class="col-sm-2">
						To 
					</div>
					<div class="col-sm-10">
						<input class="input-sm form-control" type="text" value="{[{ cname }]}" name="name" disabled required="required"/>
					</div> 
					<div class="col-sm-2">
						<br/>Email 
					</div>
					<div class="col-sm-10">
						<br/><input class="input-sm form-control" type="text" value="{[{ email }]}" name="email" disabled required="required"/>
					</div>
					<div class="col-sm-2">
						<br/>User Message 
					</div>
					<div class="col-sm-10">
						<br/><textarea  class="form-control" rows="6" name="content" id="reply.content" disabled >{[{ content }]}</textarea>
					</div>					
				</div>
			</div>
			<div class="row wrapper">
				<div class="panel-heading">
					<b>Message</b>
				</div>
				<div class="col-sm-12">
					<div id="iddiv">
						<input class="input-sm form-control" type="hidden" value="{[{ rid }]}" ng-model="reply.rid" />
						<input class="input-sm form-control" type="hidden" value="{[{ email }]}" ng-model="reply.email" />
						<input class="input-sm form-control" type="hidden" value="{[{ content }]}" ng-model="reply.content" />
					</div>
					<textarea class="form-control" rows="6" placeholder="Type your message" ng-model="reply.messages" id="reply.messages" required>
					</textarea>
				</div>
			</div>
			<div class="table-responsive">

			</div>

		</div>
	</div>

	<div class="modal-footer" id="btn2">                             
		<button class="btn btn-default" type="reset" id="cancel" name="cancel">Cancel</button>
		<input class="btn btn-primary" type="submit" id="send" name="send" ng-disabled="formsubmit.$invalid" value="Send">
	</div>
</form>