<style>
.span-right {margin:-5px 0 0 0;}
</style>
<form>
<div class="panel panel-success">
	<div class="panel-heading font-bold">
		{[{mdl.title}]}
		<span class="pull-right span-right">
			<button class="btn btn-sm btn-default" ng-click="cancel()" title="Cancel">
				<i class="fa fa-reply"></i></button>
		</span>
	</div>
	<div class="panel-body">
		<input type="text" ng-model="mdl.copy" class="form-control" onclick="this.setSelectionRange(0, this.value.length)">
	</div>
</div>
</form>
