<div class="panel panel-danger">
	<div class="panel-heading"><i class="icon-info"></i> Delete Category</div>
	<div class="panel-body">
		<p ng-hide="hasNews">Are you sure you want to delete this Category?</p>
		<div ng-show="hasNews">
			<div class="table-responsive">
				<alert ng-repeat="alert in delcat_alerts" type="{[{alert.type }]}" close="delcat_closeAlert($index)">{[{ alert.msg }]}</alert>
				<center><h4>Videos with this Category only</h4></center>
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
							<th style="width:2%;"></th>
							<th style="width:45%;">Title</th>
							<th style="width:35%;">Categories</th>
							<th style="width:18%;">Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="news in editablenews">
							<td>{[{del_CurrentPage * 10 - 10 + $index + 1}]}</td>
							<td ng-bind="news.title"></td>
							<td>
								<select chosen multiple class="chosen-choices form-control"
	                style="width:100%"
	                ng-model="news.categories"
	                options="categories"
	                ng-options="category.id as category.categoryname for category in categories"
	                required>
	              </select>
							</td>
							<td><span class="btn btn-sm btn-danger status" ng-disabled="news.categories == undefined" ng-click="newsupdatecategory(news)">Update</span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
								<center>
									<pagination total-items="del_TotalItems" ng-model="del_CurrentPage" max-size="del_maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="del_setPage(del_CurrentPage)"></pagination>
								</center>
							</td>
						</tr>
					</tfoot>
				</table>
			</div> <!-- END OF table-responsive -->
		</div>
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a ng-hide="hasNews" class="btn btn-danger" ng-click="ok()" scroll-to="Scrollup">Delete</a>
		</div>
	</div>
</div>
