<div class="panel panel-danger">
	<div class="panel-heading"><i class="icon-info"></i> Delete Author</div>
	<div class="panel-body">
		<p ng-hide="hasNews">Are you sure you want to delete this Author?</p>
		<div ng-show="hasNews">
			<div class="table-responsive">
				<alert ng-repeat="alert in authordeletealerts" type="{[{alert.type }]}" close="authdelcloseAlert($index)">{[{ alert.msg }]}</alert>
				<center><h4>Author's News</h4></center>
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
							<th style="width:2%;"></th>
							<th style="width:50%;">Titles</th>
							<th style="width:30%;">Author</th>
							<th style="width:18%;">Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="news in mynews">
							<td>{[{an_CurrentPage * 10 - 10 + $index + 1}]}</td>
							<td ng-bind="news.title"></td>
							<td>
								<div ui-module="select2">
									<!-- <select ui-select2 class="form-control" ng-model="news.id" required>
											<option ng-repeat="author in authors" ng-value="author.id">{[{author.name}]}</option>
									</select> -->
									<select class="form-control m-b"
                            ng-model="news.authorid"
                            required="required"
                            ng-options="author.id as author.name for author in authors">
								</div>
							</td>
							<td><span class="btn btn-sm btn-danger status" ng-click="updatenewsauthor(news)">Update</span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
								<center>
									<pagination total-items="an_TotalItems" ng-model="an_CurrentPage" max-size="an_maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="an_setPage(an_CurrentPage)"></pagination>
								</center>
							</td>
						</tr>
					</tfoot>
				</table>
			</div> <!-- END OF table-responsive -->
		</div>
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a ng-hide="hasNews" class="btn btn-danger" ng-click="ok()" scroll-to="Scrollup">Delete</a>
		</div>
	</div>
</div>
