<div class="panel panel-{[{tpl_type}]}">
	<div class="panel-heading"><i class="icon-info"></i> {[{tpl_title}]}</div>
	<div class="panel-body">
		<p>{[{tpl_msg}]}</p>   
				<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-danger" ng-click="ok(asset)" scroll-to="Scrollup">{[{tpl_true}]}</a>
		</div>            
	</div>
</div>