<style>
.span-right {margin:5px 0 0 0;}
.custom-pad{padding: 2px 5px !important;}
</style>
<div class="panel panel-success">
	<div class="panel-heading font-bold">
		{[{tpl_title}]}
	</div>
	<div class="panel-body">
		<form ng-submit="ok(img)" name="rEquired" ng-if="!loading"> 
      <div class="col-sm-12">
        <alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlert($index, 'main')">{[{ alert.msg }]}</alert>
      </div>
      <div class="col-sm-12 m-b-xs">
        <div class="form-group">
          Title
          <input type="text" ng-model="img.title" class="form-control" required>
        </div>
      </div>
			<div class="col-sm-12 m-b-xs">
				<div class="form-group">
					Link
					<input type="text" ng-model="img.link" class="form-control" required>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
      <div class="col-sm-12 m-b-xs">
        <div class="dragdropcenter" style="width: 100%;">
          <div ngf-drop ngf-select class="drop-box" 
            ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
            accept="image/*" ngf-change="setimg($files)">Drop images here or click to upload</div>
        </div>
        <img ngf-src="file[0]" id="profpic" ngf-default-src="'{[{amazonlink}]}/uploads/images/{[{ img.filename }]}'" class="center-block full-width" ngf-accept="'image/*'">
      </div>
      <div class="line line-dashed b-b line-lg"></div>
			<div class="col-sm-12 m-b-xs">
        <span class="pull-right span-right">
          <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" title="Cancel">
            <i class="fa fa-reply"></i>
          </button>
          <button type="submit" ng-disabled="rEquired.$invalid && !img.filename" class="btn btn-sm btn-success" title="Save">
            <i class="fa fa-save"></i>
          </button>
        </span>
			</div>
		</form>

    <div ng-if="loading">
      <div class="loader">
        <div class="loadercontainer">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          Uploading your images please wait...
        </div>
      </div>
    </div>
	</div>
</div>