
<div>

	<div class="panel-heading" ng-init="mediaswitch = true">
		<div class="col-sm-6">
		<span><i class="fa  fa-folder-open"> Media Library</i>
			<span ng-show="mediaswitch">(Images)</span>
			<span ng-hide="mediaswitch">(Videos)</span>
		</span>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-sm bg-danger btn-addon pull-right" ng-show="mediaswitch" ng-click="mediaswitch = false">
				<i class="fa fa-file-video-o"></i>Switch to Videos
			</button>

			<button class="btn btn-sm bg-danger btn-addon pull-right" ng-hide="mediaswitch" ng-click="mediaswitch = true">
				<i class="fa fa-file-image-o"></i>Switch to Images
			</button>
		</div>
	</div>

	<!-- IMAGES BODY -->
	<div class="panel-body" ng-show="mediaswitch">
		&nbsp; <!-- &nbsp; this is required -->
		<div class="loader" ng-show="imageloader">
			<div class="loadercontainer">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				Uploading your images please wait...
			</div>
		</div>
		<div class="col-sml-12" ng-show="imagecontent">
			<div class="dragdropcenter">
				<div ngf-drop ngf-select class="drop-box"
				ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
				accept="image/*" ng-model="file" ngf-change="upload($files)">Drop image here or click to upload</div>
			</div>
		</div>
		<div ng-show="imagecontent" style="height:500px; overflow-y:scroll;">
			<div class="line line-dashed b-b line-lg"></div>
			<alert ng-repeat="alert in modalalerts" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
			<div class="col-sm-12" ng-show="images == false"><center><h3>NO IMAGE AVAILABLE</h3></center></div>

			<!-- looping of images STARTS HERE -->
			<div class="col-sm-4" ng-repeat="img in images" style="margin-bottom:15px;">
				<div
					style="background:#000 url('{[{amazonlink + img.imagename}]}');
						background-position:center center;
						background-repeat:no-repeat;
						background-size:100% auto;
						min-height:160px;
						border:4px solid #ccc;
						margin:1%;">

						<a class="btn btn-xs btn-default" title="Url" ng-click="urlimg(amazonlink + img.imagename)"><i class="icon icon-link text-info"></i></a>
						<a class="btn btn-xs btn-default pull-right" title="Delete" ng-click="deleteimg(img.id)"><i class="icon icon-trash text-danger"></i></a>
				</div>
			</div>
			<!-- looping of images ENDS HERE -->

		</div>
	</div> <!-- IMAGES BODY end -->
	<br>
	<!-- VIDEOS BODY -->
	<div class="panel-body" ng-hide="mediaswitch">
		<alert ng-repeat="alert in modalalerts" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
		<span class="input-group">
			<input type="text" class="form-control" ng-model="video.embed" placeholder="Paste youtube embed code here and click 'Save'" required>
			<span class="input-group-addon btn btn-sm btn-default" ng-click="saveembed(video.embed)">Save</span>
		</span>
		<div style="height:500px; overflow-y:scroll;">
			<div class="line line-dashed b-b line-lg"></div>
			<div class="col-sm-12" ng-show="images == false"><center><h3>NO VIDEO AVAILABLE</h3></center></div>

			<!-- looping of videos STARTS HERE -->
			<div class="col-sm-4" ng-repeat="vid in videos" style="margin-bottom:15px;">
				<div style="background-image: url('{[{ vid.videourl }]}');
										min-height:160px;
										overflow: hidden;
    								background-size: cover;
    								background-position: center center;">
						<a class="btn btn-xs btn-default" title="Embed" ng-click="embedvid(vid.embed)"><i class="icon  icon-share-alt text-info"></i></a>
						<a class="btn btn-xs btn-default pull-right" title="Delete" ng-click="deletevid(vid.id)"><i class="icon icon-trash text-danger"></i></a>
				</div>
			</div>
			<!-- looping of videos ENDS HERE -->

		</div>
	</div> <!-- VIDEOS BODY end -->

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
