<style>
.span-right {margin:5px 0 0 0;}
.custom-pad{padding: 2px 5px !important;}
</style>
<div class="panel panel-success" ng-controller="MetatrailsCtrl">
	<div class="panel-heading font-bold">
		{[{tpl_title}]}
	</div>
	<div class="panel-body">
		<form ng-submit="ok(asset)" name="rEquired"> 
                     <div class="col-sm-12 m-b-xs">
                            <div class="form-group">
                                   <input type="hidden" ng-model="asset.id">
                                   Title
                                   <input type="text" ng-model="asset.title" class="form-control" required>
                            </div>
                     </div>
			<div class="col-sm-12 m-b-xs">
				<div class="form-group">
                                   <input type="hidden" ng-model="asset.id">
					Metatitle
					<input type="text" ng-model="asset.metatitle" class="form-control" required>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<div class="col-sm-12 m-b-xs">
                            <div class="form-group">
                                   Metakeyword(separate keyword with a comma)
                                   <textarea ng-model="asset.metakeyword" class="form-control" required></textarea></div>
                            </div>
			<div class="col-sm-12 m-b-xs">
                            <div class="form-group">
                                   Meta Description
                                   <textarea ng-model="asset.metadescription" class="form-control" rows="5" id="comment" required></textarea>
                            </div>
			</div>
			<div class="line line-dashed b-b line-lg"></div>
			<div class="col-sm-12 m-b-xs">

                            <div class="line line-dashed b-b line-lg"></div>
                            <span class="pull-right span-right">
                               <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" title="Cancel">
                                     <i class="fa fa-reply"></i></button>
                            <button type="submit" ng-disabled="disabled" class="btn btn-sm btn-success" title="Save">
                            <i class="fa fa-save"></i></button>
                            </span>
			</div>
		</form>
	</div>
</div>