<div class="panel panel-info">
	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p>{[{message}]}</p>               
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-info" ng-click="ok()" scroll-to="Scrollup">Okay</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>