<div class="panel panel-{[{type}]}">
	<div class="panel-heading"><i class="icon-info"></i> <span style="font-size:150%">Notification</span></div>
	<div class="panel-body">
		<h4>{[{message}]}</h4>
		<div class="pull-right">
			<!-- <a class="btn btn-default" ng-click="cancel()">Cancel</a> -->
			<a class="btn btn-{[{type}]}" ng-click="okay()" scroll-to="Scrollup">Okay</a>
		</div>               
	</div>
</div>