<style>
.span-right {margin:-5px 0 0 0;}
</style>
<form>
<div class="panel panel-success">
	<div class="panel-heading font-bold">
		{[{tpl_title}]}
		<span class="pull-right span-right">
			<button class="btn btn-sm btn-default" ng-click="cancel()" title="Cancel">
				<i class="fa fa-reply"></i></button>
			<button class="btn btn-sm btn-success" ng-click="ok(asset)" ng-disabled="!asset" title="Save">
				<i class="fa fa-save"></i></button>
		</span>
	</div>
	<div class="panel-body">
		<input type="text" ng-model="asset" class="form-control" placeholder="{[{placeholder}]}" required>
	</div>
</div>
</form>
