<style>
.span-right {margin:5px 0 0 0;}
.custom-pad{padding: 2px 5px !important;}
</style>
<div class="panel panel-success" ng-controller="Rentalhours">
    <div class="panel-heading font-bold">
        {[{ tpl_title }]}
        <a class="badge pull-right" ng-click="cancel()"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-body">
        <form ng-submit="ok(asset)" name="rEquired">
            <div class="col-sm-12 m-b-xs">
                <alert ng-repeat="alert in sessionalerts" type="{[{alert.type }]}" close="sessioncloseAlert()">{[{ alert.msg }]}</alert>
            </div>

            <div class="row">
                
                <div class="col-sm-9">
                    <div class="form-group">
                        <label>Session</label>
                        <div class="input-group" ng-show="customsesssion">
                            <span class="input-group-btn">
                                <a class="btn btn-default" type="button" ng-click="customizedsession(false)"><i class="icon icon-list "></i></a>
                            </span>
                            <input type="text" ng-model="asset.session" class="form-control" ng-change="chksession(asset.session)" placeholder="ex(Half day,Full day,Special Hours)">
                        </div>

                        <div class="input-group" ng-hide="customsesssion">
                            <span class="input-group-btn">
                                <a class="btn btn-default" type="button" ng-click="customizedsession(true)"><i class="icon icon-note"></i></a>
                            </span>
                            <div ui-module="select2">
                                <select ui-select2 class="form-control" ng-model="asset.session" ng-change="chksession(asset.session)">
                                        <option ng-repeat="session in sessions">{[{session}]}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Time Duration</label>
                        <select class="form-control" ng-model="asset.duration" ng-change="changeDuration(asset.duration)" required>
                            <option value="1">1 hr</option><option value="1.5">1.5 hr</option>
                            <option value="2">2 hr</option><option value="2.5">2.5 hr</option>
                            <option value="3">3 hr</option><option value="3.5">3.5 hr</option>
                            <option value="4">4 hr</option><option value="4.5">4.5 hr</option>
                            <option value="5">5 hr</option><option value="5.5">5.5 hr</option>
                            <option value="6">6 hr</option><option value="6.5">6.5 hr</option>
                            <option value="7">7 hr</option><option value="7.5">7.5 hr</option>
                            <option value="8">8 hr</option><option value="8.5">8.5 hr</option>
                            <option value="9">9 hr</option><option value="9.5">9.5 hr</option>
                            <option value="10">10 hr</option><option value="10.5">10.5 hr</option>
                            <option value="11">11 hr</option><option value="11.5">11.5 hr</option>
                            <option value="12">12 hr</option>
                       </select>
                    </div>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg"></div>

            <div class="row" ng-if="asset.duration">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Start Time</label>
                        <timepicker ng-model="asset.start" ng-change="changeStartTime(asset.start)" hour-step="hstep" minute-step="mstep"></timepicker>
                    </div>

                    <div class="form-group">
                        <div>Estimated End Time</div>
                        <br>
                        <span class="well well-sm">{[{ asset.end }]}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description (optional)</label>
                        <!-- <input type="text" class="form-control" placeholder="What?"> -->
                        <textarea ng-model="asset.desc" class="form-control rs-v" rows="6"></textarea>
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success rounded" title="Save">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-4 m-b-xs">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Start Time</label>
                    <div class="col-sm-10">
                        <select type="text" ng-model="asset.start" class="form-control custom-pad" ng-change="total(asset.start,asset.end)" required>
                            <option value="" style="display:none"></option>
                            <option value="1:00 AM">01:00 AM</option>
                            <option value="1:30 AM">01:30 AM</option>
                            <option value="2:00 AM">02:00 AM</option>
                            <option value="2:30 AM">02:30 AM</option>
                            <option value="3:00 AM">03:00 AM</option>
                            <option value="3:30 AM">03:30 AM</option>
                            <option value="4:00 AM">04:00 AM</option>
                            <option value="4:30 AM">04:30 AM</option>
                            <option value="5:00 AM">05:00 AM</option>
                            <option value="5:30 AM">05:30 AM</option>
                            <option value="6:00 AM">06:00 AM</option>
                            <option value="6:30 AM">06:30 AM</option>
                            <option value="7:00 AM">07:00 AM</option>
                            <option value="7:30 AM">07:30 AM</option>
                            <option value="8:00 AM">08:00 AM</option>
                            <option value="8:30 AM">08:30 AM</option>
                            <option value="9:00 AM">09:00 AM</option>
                            <option value="9:30 AM">09:30 AM</option>
                            <option value="10:00 AM">10:00 AM</option>
                            <option value="10:30 AM">10:30 AM</option>
                            <option value="11:00 AM">11:00 AM</option>
                            <option value="11:30 AM">11:30 AM</option>
                            <option value="12:00 PM">12:00 PM</option>
                            <option value="12:30 PM">12:30 PM</option>
                            <option value="1:00 PM">01:00 PM</option>
                            <option value="1:30 PM">01:30 PM</option>
                            <option value="2:00 PM">02:00 PM</option>
                            <option value="2:30 PM">02:30 PM</option>
                            <option value="3:00 PM">03:00 PM</option>
                            <option value="3:30 PM">03:30 PM</option>
                            <option value="4:00 PM">04:00 PM</option>
                            <option value="4:30 PM">04:30 PM</option>
                            <option value="5:00 PM">05:00 PM</option>
                            <option value="5:30 PM">05:30 PM</option>
                            <option value="6:00 PM">06:00 PM</option>
                            <option value="6:30 PM">06:30 PM</option>
                            <option value="7:00 PM">07:00 PM</option>
                            <option value="7:30 PM">07:30 PM</option>
                            <option value="8:00 PM">08:00 PM</option>
                            <option value="8:30 PM">08:30 PM</option>
                            <option value="9:00 PM">09:00 PM</option>
                            <option value="9:30 PM">09:30 PM</option>
                            <option value="10:00 PM">10:00 PM</option>
                            <option value="10:30 PM">10:30 PM</option>
                            <option value="11:00 PM">11:00 PM</option>
                            <option value="11:30 PM">11:30 PM</option>
                            <option value="12:00 AM">12:00 AM</option>
                            <option value="12:30 AM">12:30 AM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-b-xs">
                <div class="form-group">
                    <label class="col-sm-2 control-label">End Time</label>
                    <div class="col-sm-10">
                        <select type="text" ng-model="asset.end" class="form-control custom-pad" ng-disabled="asset.start==''" ng-change="total(asset.start,asset.end)" required>
                            <option value="" style="display:none"></option>
                            <option value="1:00 AM">01:00 AM</option>
                            <option value="1:30 AM">01:30 AM</option>
                            <option value="2:00 AM">02:00 AM</option>
                            <option value="2:30 AM">02:30 AM</option>
                            <option value="3:00 AM">03:00 AM</option>
                            <option value="3:30 AM">03:30 AM</option>
                            <option value="4:00 AM">04:00 AM</option>
                            <option value="4:30 AM">04:30 AM</option>
                            <option value="5:00 AM">05:00 AM</option>
                            <option value="5:30 AM">05:30 AM</option>
                            <option value="6:00 AM">06:00 AM</option>
                            <option value="6:30 AM">06:30 AM</option>
                            <option value="7:00 AM">07:00 AM</option>
                            <option value="7:30 AM">07:30 AM</option>
                            <option value="8:00 AM">08:00 AM</option>
                            <option value="8:30 AM">08:30 AM</option>
                            <option value="9:00 AM">09:00 AM</option>
                            <option value="9:30 AM">09:30 AM</option>
                            <option value="10:00 AM">10:00 AM</option>
                            <option value="10:30 AM">10:30 AM</option>
                            <option value="11:00 AM">11:00 AM</option>
                            <option value="11:30 AM">11:30 AM</option>
                            <option value="12:00 PM">12:00 PM</option>
                            <option value="12:30 PM">12:30 PM</option>
                            <option value="1:00 PM">01:00 PM</option>
                            <option value="1:30 PM">01:30 PM</option>
                            <option value="2:00 PM">02:00 PM</option>
                            <option value="2:30 PM">02:30 PM</option>
                            <option value="3:00 PM">03:00 PM</option>
                            <option value="3:30 PM">03:30 PM</option>
                            <option value="4:00 PM">04:00 PM</option>
                            <option value="4:30 PM">04:30 PM</option>
                            <option value="5:00 PM">05:00 PM</option>
                            <option value="5:30 PM">05:30 PM</option>
                            <option value="6:00 PM">06:00 PM</option>
                            <option value="6:30 PM">06:30 PM</option>
                            <option value="7:00 PM">07:00 PM</option>
                            <option value="7:30 PM">07:30 PM</option>
                            <option value="8:00 PM">08:00 PM</option>
                            <option value="8:30 PM">08:30 PM</option>
                            <option value="9:00 PM">09:00 PM</option>
                            <option value="9:30 PM">09:30 PM</option>
                            <option value="10:00 PM">10:00 PM</option>
                            <option value="10:30 PM">10:30 PM</option>
                            <option value="11:00 PM">11:00 PM</option>
                            <option value="11:30 PM">11:30 PM</option>
                            <option value="12:00 AM">12:00 AM</option>
                            <option value="12:30 AM">12:30 AM</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-sm-4 m-b-xs">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Total Hours</label>
                    <div class="col-sm-10"><input type="text" ng-model="Total" readonly class="form-control"></div>
                </div>
            </div> -->
            
            <!-- <div class="row" ng-if="asset.duration">
                <div class="col-sm-12">

                    <div class="line line-dashed b-b line-lg"></div>

                    <span class="pull-right span-right">
                        <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" title="Cancel">
                           <i class="fa fa-reply"></i>
                        </button>
                        <button type="submit" ng-disabled="disabled" class="btn btn-sm btn-success" title="Save">
                            <i class="fa fa-save"></i>
                        </button>
                    </span>

                </div>
            </div> -->
        </form>
    </div>
</div>
