
<div class="panel panel-{[{mdl.type}]}">
	<div class="panel-heading"><i class="icon-info"></i> {[{mdl.heading}]}</div>
	<div class="panel-body">
		<p>{[{mdl.body}]}</p>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">{[{mdl.cancel}]}</a>
			<a class="btn btn-info" ng-click="ok(mdl.mode)" scroll-to="Scrollup">{[{mdl.ok}]}</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>