<div class="panel panel-default printpreview">
	<div class="panel-heading printhide"><i class="fa fa-calendar"></i> VIEW RESERVATION
	</div>
	<div class="panel-body">
		<div class="col-sm-12">
			<!-- <div>
				<img src="/img/atvlogo.png">
			</div> -->
			<div class="m-t">
				<div class="panel panel-default">
					<div class="panel-heading">Reservation Information
						<div class="pull-right">
							<span ng-if="reservationinfo.status==0" class="bg-warning btn btn-xs" >New</span>
							<span ng-if="reservationinfo.status==1" class="bg-primary btn btn-xs" >Reserved</span>
							<span ng-if="reservationinfo.status==2" class="bg-success btn btn-xs" >Done</span>
							<span ng-if="reservationinfo.status==3" class="bg-danger btn btn-xs" >Void</span>
							<span ng-if="reservationinfo.status==4" class="bg-warning btn btn-xs" >Unattended</span>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-striped b-t b-light">
							<tbody>
								<tr>
									<td>
										<div class="h4 font-thin m-b-sm ng-binding">INVOICE # {[{ reservationinfo.invoiceno }]}</div>
										<div class="h4 font-thin m-b-sm ng-binding">Name: {[{ reservationinfo.customername }]}</div>
											<div class="line b-b b-light"></div>
											<div>Email : {[{ reservationinfo.email }]}</div>
											<div class="line b-b b-light"></div>
											<div>Contact number : {[{ reservationinfo.phone }]}</div>
											<div class="line b-b b-light"></div>
											<div>Rental date: {[{ reservationinfo.rentaldate | date: 'EEEE, MMMM d, y'  }]}</div>
											<div class="line b-b b-light"></div>
											<div>Duration : {[{ reservationinfo.duration }]}</div>
											<div class="line b-b b-light"></div>
											<div>Number of People : {[{ reservationinfo.numpeople }]}</div>
											<div class="line b-b b-light"></div>
											<div>Number of People will drive : {[{ reservationinfo.numpdrive }]}</div>
											<div class="line b-b b-light"></div>
											<div>Kids : {[{ reservationinfo.kids }]}</div>
											<div class="line b-b b-light"></div>
											<div>Request : {[{ reservationinfo.request }]}</div>
											<div class="line b-b b-light"></div>
										<div class="h4 font-thin m-b-sm ng-binding">Credit Card Information</div>
										<div class="line b-b b-light"></div>
											<div>Card type : {[{ reservationinfo.cardtype }]}</div>
											<div class="line b-b b-light"></div>
											<div>Card Number : {[{ reservationinfo.cardnum }]}</div>
											<div class="line b-b b-light"></div>
											<div>Card Expiration : {[{ reservationinfo.cardexp | date: 'EEEE, MMMM d, y'  }]}</div>
											<div class="line b-b b-light"></div>
											<div>Security Code : {[{ reservationinfo.securitycode }]}</div>
											<div class="line b-b b-light"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="m-t">
				<div class="panel panel-default">
					<div class="panel-heading">ATV Reservations</div>
					<div class="table-responsive">
						<table class="table table-striped b-t b-light">
							<tbody>
								<tr>
									<th>ATV</th>
								</tr>
								<tr ng-repeat="data in reservationlist">
									<td>
										{[{ data.atvselected }]}
									</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="panel-footer printhide">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="printme()"><i class="icon icon-printer"></i> Print</a>
			<a class="btn btn-default" ng-click="cancel()">CLOSE</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>