<div class="panel panel-success">
	<div class="panel-heading"><i class="fa fa-calendar"></i> VIEW RESERVATION</div>
	<div class="panel-body">
		<div class="col-sm-12">
			<div class="m-t">
				<div class="panel panel-default">
					<div class="panel-heading">Reservation Information</div>
					<div class="table-responsive">
						<table class="table table-striped b-t b-light">
							<tbody>
								<tr>
									<td>
										<div class="h4 font-thin m-b-sm ng-binding">INVOICE # {[{ reservationinfo.invoiceno }]}</div>
										<div class="h4 font-thin m-b-sm ng-binding">{[{ reservationinfo.customername }]}</div>
											<div class="line b-b b-light"></div>
											<div>Email : {[{ reservationinfo.email }]}</div>
											<div class="line b-b b-light"></div>
											<div>Contact number : {[{ reservationinfo.phone }]}</div>
											<div class="line b-b b-light"></div>
											<div>Number of People : {[{ reservationinfo.numpeople }]}</div>
											<div class="line b-b b-light"></div>
											<div>Number of People will drive : {[{ reservationinfo.numpdrive }]}</div>
											<div class="line b-b b-light"></div>
											<div>Kids : {[{ reservationinfo.kids }]}</div>
											<div class="line b-b b-light"></div>
											<div>Request : {[{ reservationinfo.request }]}</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="m-t">
				<div class="panel panel-default">
					<div class="panel-heading">Reservations</div>
					<div class="table-responsive">
						<table class="table table-striped b-t b-light">
							<tbody>
								<tr>
									<th>ATV</th>
									<th>Date of Reservation</th>
									<th>Price</th>
									<th>Status</th>
									<th>Change Status</th>
								</tr>
								<tr ng-repeat="data in reservationlist">
									<td>
										{[{ data.atv }]}
									</td>
									<td>
										{[{ data.reservationdate | date: 'EEEE, MMMM d, y' }]}
									</td>
									<td>
										${[{ data.price }]}
									</td>
									<td>
										<span ng-show="data.status==0" class="label bg-warning">New</span>
										<span ng-show="data.status==1" class="label bg-primary">Reserved</span>
										<span ng-show="data.status==2" class="label bg-success">Done</span>
										<span ng-show="data.status==3" class="label bg-danger">Void</span>
									</td>
									<td>
										<span ng-show="data.status!=0" class="label bg-warning"><a ng-click="change1(data.reservationid)">New</a></span>
										<span ng-show="data.status!=1" class="label bg-primary"><a ng-click="change2(data.reservationid)">Reserved</a></span>
										<span ng-show="data.status!=2" class="label bg-success"><a ng-click="change3(data.reservationid)">Done</a></span>
										<span ng-show="data.status!=3" class="label bg-danger"><a ng-click="change4(data.reservationid)">Void</a></span>
									</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="send()">SEND THIS TO THE CUSTOMER</a>
			<a class="btn btn-default" ng-click="cancel()">CLOSE</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>