
<div class="panel panel-default">
	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<p>{[{mdl.msg}]}</p>
	</div>
	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">No</a>
			<a class="btn btn-info" ng-click="ok()" scroll-to="Scrollup">Yes</a>
		</div>
		<div style="clear:both;"></div>
	</footer>
</div>
