// custom less
// neilmale
// 2016-05-10
@xxsn:5;
@xsn:10;
@smn:15;
@mdn:30;
@lgn:50;
@xln:100;

@xxs:unit(@xxsn, px);
@xs:unit(@xsn, px);
@sm:unit(@smn, px);
@md:unit(@mdn, px);
@lg:unit(@lgn, px);
@xl:unit(@xln, px);

.pad-xxs-t { padding-top: @xxs; }
.pad-xs-t { padding-top: @xs; }
.pad-sm-t { padding-top: @sm; }
.pad-md-t { padding-top: @md; }
.pad-lg-t { padding-top: @lg; }
.pad-xl-t { padding-top: @xl; }

.pad-xxs-l { padding-left: @xxs; }
.pad-xs-l { padding-left: @xs; }
.pad-sm-l { padding-left: @sm; }
.pad-md-l { padding-left: @md; }
.pad-lg-l { padding-left: @lg; }
.pad-xl-l { padding-left: @xl; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }
.position (@position, @top, @right, @bottom, @left) {
	position:@position;
	top:@top;
	right:@right;
	bottom:@bottom;
	left:@left;
}

.text-royalblue { color: royalblue; }
.text-red { color: red; }
// ==========================================================direction
.top(@top) { top:@top;}
.right(@right) { right:@right;}
.bottom(@bottom) { bottom:@bottom;}
.left(@left) { left:@left;}

.pos-xxs-b { .relative; .bottom(@xxs); }
.pos-xs-b { .relative; .bottom(@xs); }

.a { cursor:pointer; }
.alc { text-align:center !important; }

span { word-wrap: break-word; }
.rs-v { resize:vertical; }

//full calendar custom
span.fc-time { display:block; }

.transaction-action {
	width: 110px !important; 
}

.reportsCharts { height: 590px; }

