<!DOCTYPE html>
<html lang="en" data-ng-app="atvapp">
<!-- Title here -->
<!-- Description, Keywords and Author -->
<link rel="shortcut icon" href="/img/frontend/toppage/logo.png">

<?php
if(@$metadata!='nodata'){
  ?>
  <head>
    <meta charset="utf-8">
    <title><?php echo @$metadata->metatitle ?></title>
    <meta name="title" content="<?php echo @$metadata->metatitle ?>">
    <meta name="keywords" content="<?php echo @$metadata->metakeyword ?>">
    <meta name="description" content="<?php if(@$metadata->metadesc!=null){@$metadata->metadesc;}else{echo @$metadata->metadescription;} ?>">
    <meta name="og:title" content="<?php echo @$metadata->metatitle ?>" />
    <meta name="og:description" content="<?php echo @$metadata->metadescription ?>" />
    <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>/<?php echo $url; ?>" />
    <meta name="og:image" content="<?php if(@$featimage!=null){echo @$featimage; }else{echo @$banner;} ?>" />
    <?php
  }else if(@$title=='category'){
    ?>
    <head ng-controller='categoryCtrl'>
      <meta charset="utf-8">
      <title ng-bind='pagetitle'></title>
      <meta name="title" content="Rio Verde ATV">
      <meta name="keywords" content="Rio Verde ATV">
      <meta name="description" content="Rio Verde ATV">
      <meta name="og:title" content="Rio Verde ATV" />
      <meta name="og:description" content="Rio Verde ATV" />
      <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>/blog/category/{[{ categoryname }]}" />
      <meta name="og:image" content="<?php echo @$banner; ?>" />
      <?php
    }else if(@$title=='archive'){
      ?>
      <head ng-controller='archiveCtrl'>
        <meta charset="utf-8">
        <title ng-bind='pagetitle'></title>
        <meta name="title" content="Rio Verde ATV">
        <meta name="keywords" content="Rio Verde ATV">
        <meta name="description" content="Rio Verde ATV">
        <meta name="og:title" content="Rio Verde ATV" />
        <meta name="og:description" content="Rio Verde ATV" />
        <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>/blog/archive/{[{ year }]}/{[{ month }]}" />
        <meta name="og:image" content="<?php echo @$banner; ?>" />
        <?php
      }else if(@$title=='tags'){
        ?>
        <head ng-controller='tagCtrl'>
          <meta charset="utf-8">
          <title ng-bind='pagetitle'></title>
          <meta name="title" content="Rio Verde ATV">
          <meta name="keywords" content="Rio Verde ATV">
          <meta name="description" content="Rio Verde ATV">
          <meta name="og:title" content="Rio Verde ATV" />
          <meta name="og:description" content="Rio Verde ATV" />
          <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>/blog/tags/{[{ tagname }]}" />
          <meta name="og:image" content="<?php echo @$banner; ?>" />
          <?php } else{ ?>
            <head>
              <meta charset="utf-8">
              <title><?php echo @$title; ?> Rio Verde ATV</title>
              <meta name="title" content="<?php echo @$title; ?> Rioverde ATV">
              <meta name="keywords" content="Rioverde ATV">
              <meta name="description" content="Rioverde ATV">
              <meta name="og:title" content="Rioverde ATV" />
              <meta name="og:description" content="Rioverde ATV" />
              <meta name="og:url" content="<?php echo $this->config->application->BaseURL; ?>/<?php echo $url; ?>" />
              <meta name="og:image" content="<?php echo @$banner; ?>" />
              <?php } ?>

              <!-- <meta name="keywords" content="Your,Keywords"> -->
              <meta name="author" content="RioVerde ATV">

              <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
              <meta name="viewport" content="user-scalable = yes" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
              <meta charset="utf-8">
              <!-- Styles -->
              <!-- Bootstrap CSS -->
              <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

              <!-- GOOGLE FONTS -->
              <link href='http://fonts.googleapis.com/css?family=Palanquin+Dark:400,700,600,500' rel='stylesheet' type='text/css'>
              <link href='http://fonts.googleapis.com/css?family=Piedra' rel='stylesheet' type='text/css'>
              <link href='https://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet' type='text/css'>
              <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

              <!-- Custom CSS -->
              <link rel="stylesheet/less" type="text/css" href="/fe/css/custom.less" />
              <link href="/fe/css/style.atv.css" rel="stylesheet">
              <link href="/fe/css/navigation-media.css" rel="stylesheet">
              <link href="/fe/css/header-media.css" rel="stylesheet">
              <link href="/fe/css/author-media.css" rel="stylesheet">
              <link href="/fe/css/blue.css" rel="stylesheet">
              <!-- plugins CSS -->
              <link href="/vendors/lightgallery/src/css/lightgallery.css" rel="stylesheet">
              <link href="/vendors/fancyBox/source/jquery.fancybox.css" rel="stylesheet">
              <link href="/vendors/fullcalendar/dist/fullcalendar.css" rel="stylesheet">
              <link href="/vendors/sweetalert/dist/sweetalert.css" rel="stylesheet">

              <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css" rel="stylesheet">
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
              <link rel="stylesheet" href="/vendors/angularjs-toaster/toaster.css">


              <script src="/vendors/jquery/dist/jquery.min.js"></script>
              <script src="/vendors/angular/angular.js"></script>

            </head>

            <body ng-controller="MainCtrl">
              <?php
              if($logoimage->value1 == 1){
                header('Location: /maintenance/');
              }
              ?>
              <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
              <!-- Header starts -->
              <style>
              .img-responsive-parent {
                margin: -5px 0;
              }
              .preloader {
                padding: 50px;
                background: url('/img/Preloader_2.gif') no-repeat 50% 50% transparent;
              }
              [ng:cloak],
              [ng-cloak],
              [data-ng-cloak],
              [x-ng-cloak],
              .ng-cloak,
              .x-ng-cloak {
                display: none !important;
              }
              </style>
              <!-- <div ng-hide="stillloading" class="preloader">

            </div> -->
            <div class="container-fluid no_margin bg_dark" ng-cloak>
              <nav class="navbar navbar-default navbar-fixed-top no_margin">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $home;?>"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/images/<?php echo $logoimage->logo; ?>" class="img-responsive logo_main"></a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav main-nav navbar-nav">
                      <li class="<?php echo $activehome;?>"><a href="<?php echo $home;?>" class="nav_a mainnav_a">HOME</a></li>
                      <li class="<?php echo $activeprices;?>"><a href="<?php echo $atvsnprices;?>" class="nav_a mainnav_a">ATVS & PRICES</a></li>
                      <li class="<?php echo $activetrails;?>"><a href="<?php echo $trailx;?>" class="nav_a mainnav_a">TRAILS</a></li>
                      <li class="<?php echo $activegallery;?>"><a href="<?php echo $galleryx;?>" class="nav_a mainnav_a">GALLERY</a></li>
                      <li class="<?php echo $activereservation;?>"><a href="<?php echo $reservation;?>" class="nav_a mainnav_a">RESERVATION</a></li>
                      <li class="contactus_li <?php echo $activecontact;?>"><a href="<?php echo @$contactusx;?>" class="nav_a mainnav_a">CONTACT US</a></li>
                      <li class="special_li">
                        <a href="<?php echo $specials;?>"  class="specials_a">
                          <img src="/img/frontend/toppage/special.png" class="specials_img">
                          SPECIALS
                        </a>
                      </li>
                      <li class="socials_li">
                        <a href="<?php echo $contact->facebook; ?>" target="_blank"><img src="/img/frontend/social-icons/fb.png" class="social-icons"></a>
                        <a href="<?php echo $contact->youtube; ?>" target="_blank"><img src="/img/frontend/social-icons/yt.png" class="social-icons"></a>
                        <a href="<?php echo $contact->gplus; ?>" target="_blank"><img src="/img/frontend/social-icons/g+.png" class="social-icons"></a>
                      </li>
                    </ul>

                  </div>
                </div>
              </nav>
            </div>

            <div class="container-fluid" ng-cloak>
              <div class="row ">

                <div class="header_main" 	style="background:url(<?php echo $banner; ?>);
                  background-size:cover;
                  background-position:center center;
                  background-repeat:no-repeat!mportant;
                  min-height:450px;
                  padding-top:100px";
                  >
                  <?php if($special_banner == true) { ?>
                    <div class="banner_title" style="background:rgba(0,0,0,.7);
                    color:white; width:50%; margin:0 auto; padding:.5%; text-align:center">
                    <span style="font-size:300%;"><?php echo strtoupper($trail->title); ?></span>
                  </div>
                  <?php } ?>

                  <?php if($pagebanner->title == true || $pagebanner->subtitle == true) { ?>
                    <div class="header_tip <?php echo $pagebanner->alignment; ?>" style="background: <?php echo $pagebanner->bgcolor; ?>">
                      <span class="title"><?php echo $pagebanner->title; ?></span>
                      <br>
                      <span class="subtitle"><?php echo $pagebanner->subtitle; ?></span>
                      <br>
                      <span class="reserve">
                        <a href="<?php echo $details->banner->link; ?>" class="reserve_label"><?php echo $pagebanner->btntxt; ?> </a>
                        <a href="<?php echo $details->banner->link; ?>"class="btn btn-lg glyphicon glyphicon-calendar reserve_icon" aria-hidden="true" title="<?php echo $pagebanner->btntxt; ?>"></a>
                      </span>
                    </div>
                    <?php  } ?>
                  </div>
                </div>
              </div>

              <div class="font15" ng-cloak>
                <?php echo $this->getContent() ?>
              </div>

              <!-- Footer starts  -->
              <div class="container-fluid bg_orange" ng-cloak>
                <div class="container">
                  <div class="row pad_md_vert">
                    <div class="col-sm-6">
                      <span id="footerspan">
                        <a href="<?php echo $home;?>"><img src="/img/frontend/toppage/footerlogo.png" id="footerlogo"></a>
                        <br><br>
                        <span class="clr_white" id="footertitle">VORTEX HEALING ATV RENTAL</span> <br>
                        <span class="clr_white">
                          <a href="<?php echo $home;?>" class="clr_white">Home</a> |
                          <a href="<?php echo $atvsnprices;?>" class="clr_white">ATV & Prices</a> |
                          <a href="<?php echo $trailx;?>" class="clr_white">Trails</a> |
                          <a href="<?php echo $galleryx;?>" class="clr_white">Gallery</a> |
                          <a href="/blog" class="clr_white">Blog</a> |
                          <a href="<?php echo @$contactusx;?>" class="clr_white">Contact</a>
                        </span>
                      </span>

                    </div>
                    <div class="col-sm-6 clr_white" style="margin-top: 30px;">
                      <span id="footercontact">
                        <i style="margin"class="glyphicon glyphicon-map-marker"></i> <?php echo $contact->address; ?> <br>
                        <i class="glyphicon glyphicon-phone"></i> <?php echo $contact->contactno; ?> <br>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:<?php echo $contact->email; ?>" style="color:white"><?php echo $contact->email; ?></a>
                      </span>
                    </div>

                    <div class="col-sm-12 footer-sm">
                      <br>
                      <div class="col-sm-6 clr_white" style="padding-left:0 !important; padding-right:0 !important;">
                        <p class="copyright">Copyright © 2016 - All Rights Reserved - Sedona Vortex Healing ATV </p>
                      </div>
                      <div class="col-sm-6 clr_white" style="padding-left:0 !important; padding-right:0 !important;">
                        <a class="clr_white terms-of-user" href="<?php echo $termsofuse; ?>">Terms of Use</a>
                        <a class="clr_white privacy-policy" href="<?php echo $privacypolicy; ?>" >Privacy Policy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Footer ends -->

              <!-- Scroll to top -->
              <!-- <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> -->

              <!--  Bootstrap JS -->
              <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
              <script src="/vendors/less/dist/less.min.js"></script>
              <script src="/vendors/html5shiv/dist/html5shiv.min.js"></script>

              <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>

              <script src="/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
              <script src="/vendors/angular-animate/angular-animate.min.js"></script>
              <script src="/vendors/angular-cookies/angular-cookies.min.js"></script>
              <script src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>
              <script src="/vendors/angular-bootstrap/ui-bootstrap.min.js"></script>
              <script src="/vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
              <script src="/vendors/angular-resource/angular-resource.min.js"></script>
              <script src="/vendors/angular-recaptcha/release/angular-recaptcha.min.js"></script>
              <script src="/vendors/angular-jwt/dist/angular-jwt.min.js"></script>
              <script src="/vendors/angular-uuid-service/uuid-svc.min.js"></script>

              <!-- <script src="/vendors/ng-file-upload/angular-file-upload-shim.min.js"></script>
              <script src="/vendors/ng-file-upload/angular-file-upload.min.js"></script>  -->


              <script src="/vendors/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>

              <!-- For angular Maps V3-->
              <!-- <script src="/vendors/lodash/dist/lodash.min.js"></script> -->
              <script src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
              <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
              <script src='/vendors/angularjs-toaster/toaster.js'></script>
              <script src='/vendors/sweetalert/dist/sweetalert.min.js'></script>

              <script src="/vendors/lightgallery/dist/js/lightgallery.min.js"></script>
              <script src="/vendors/lightgallery/dist/js/lg-thumbnail.js"></script>
              <script src="/vendors/lightgallery/dist/js/lg-video.js"></script>
              <script src="/vendors/fancyBox/source/jquery.fancybox.js"></script>

              <!-- lightgallery plugins -->
              <script src="/vendors/lightgallery/dist/js/lg-thumbnail.min.js"></script>
              <script src="/vendors/lightgallery/dist/js/lg-video.min.js"></script>
              <script src="/vendors/lightgallery/dist/js/lg-fullscreen.min.js"></script>

              <script src="/vendors/moment/moment.js"></script>
              <script src="/vendors/ngstorage/ngStorage.min.js"></script>
              <script src="/vendors/angular-ui-calendar/src/calendar.js"></script>
              <script src="/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
              <script src="/vendors/fullcalendar/dist/gcal.js"></script>
              <script src="/vendors/angular-messages/angular-messages.min.js"></script>

              <script src="/fe/scripts/app.js"></script>
              <script src="/fe/scripts/config.js"></script>
              <script src="/fe/scripts/controllers/main.js"></script>
              <script src="/fe/scripts/factory/login.js"></script>
              <script src="/fe/scripts/directives/showErrors.js"></script>
              <!-- Contact us -->
              <script src="/fe/scripts/controllers/contactus/contactus.js"></script>
              <script src="/fe/scripts/factory/contactus/contactus.js"></script>

              <!-- reservation -->
              <script src="/fe/scripts/controllers/reservation/reservation.js"></script>
              <script src="/fe/scripts/factory/reservation/reservation.js"></script>

              <!-- blog/news -->
              <script src="/fe/scripts/controllers/news/news.js"></script>
              <script src="/fe/scripts/controllers/news/view.js"></script>
              <script src="/fe/scripts/controllers/news/preview.js"></script>
              <script src="/fe/scripts/controllers/news/category.js"></script>
              <script src="/fe/scripts/controllers/news/archive.js"></script>
              <script src="/fe/scripts/controllers/news/tags.js"></script>
              <script src="/fe/scripts/controllers/news/author.js"></script>
              <script src="/fe/scripts/factory/news/news.js"></script>

              <!-- home page -->
              <script src="/fe/scripts/controllers/home.js"></script>
              <script src="/fe/scripts/controllers/gallery/gallery.js"></script>
              <script src="/fe/scripts/directives/directives.js"></script>
              <script src="/fe/scripts/services/anchorsmoothscroll.js"></script>
              <script src="/fe/scripts/services/services.js"></script>

              <script src="/fe/scripts/custom.js"></script>
              <script src="/fe/scripts/countries3.js"></script>
              <script src="/fe/scripts/modernizr.custom.28468.js"></script>

              <script type="text/javascript">
              $(document).ready(function() {
                $("#lightgallery").lightGallery({
                  thumbnail:true,
                  animateThumb: false,
                  showThumbByDefault: false
                });
                $('#video').lightGallery({
                  loadYoutubeThumbnail: true,
                  youtubeThumbSize: 'default',
                });
                $('.date').datepicker({
                  format: 'yyyy-mm-dd'
                });
              });
              </script>

              <!-- FANCYBOX -->
              <script>
              $(document).ready(function() {
                /*
                *  Simple image gallery. Uses default settings
                */

                $('.fancybox').fancybox();

                /*
                *  Different effects
                */

                // Change title type, overlay closing speed
                $(".fancybox-effects-a").fancybox({
                  helpers: {
                    title: {
                      type: 'outside'
                    },
                    overlay: {
                      speedOut: 0
                    }
                  }
                });
              });
              </script>
              <!-- FANCYBOX end -->
              <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'rioverdeatv';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
              <?php
              echo $script_google->script;
              ?>

              <!-- SOCIAL BUTTONS script -->
              <!-- FACEBOOK LIKE -->
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <!-- FACEBOOK LIKE ends  -->

              <!-- TWITTER -->
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
              </script>
              <!-- TWITTER ends -->

              <!-- SOCIAL BUTTONS SCRIPT ends -->

            </body>
            </html>
