.bg-orange { background:#e84e1a;  color:lavender}
.bg-lavender { background:lavender;  color:#555}
.bg-cream { background:#ffedcd; color:#555}
.btn-cream { background:#ffedcd; color:#555}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	text-align: center;
}
.overlay .spin {
	position:relative;
	top:45%;
	margin:auto!important;
}

.listimage{
	width:200px !important;
	margin:10px 0
}
.customimg{
	width:200px !important;height:200px !important;
}

#featuredbox iframe {
	max-width:100%!important;
	min-height:150px!important
	height:auto!important;
}

.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-right {
	background-position: right;
}

.toppageimg {
    padding: 10px 10px 0ppx 10px;
}

.toppageimg > .groupbtn {
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    right: 15px;
    display: block;
}

.toppageimg > .groupbtn > button {
	float: right;
}

/*.toppageimg:hover > .groupbtn {
	display: block;
}*/

.full-width {
	width: 100%;
}

.hiddenoverflow {
	overflow: hidden;
}

.colorpickerinp > input {
	width: 150px;
}

.colorpickerinp > .color {
	height: 34px;
    width: 52px;
    float: left;
}

/*banner preview*/
.preview {
	margin-top: 40px;
}

.preview > .full-width {
    margin-top: 30px;
    border: #000 solid 1px;
}

.preview > .full-width.mobile {
    background: #000;
}

.preview > .full-width > .header {
	background-size:cover;
	background-position:top right;
	height:181px;
}

.preview > .full-width > .header .header_title {
  background:rgba(0,0,0,.5);
  color:white;
  width:50%;
  margin:0 auto;
  padding:.5%;
  text-align:center;
}
.preview > .full-width > .header .header_tip {
    width: 50%;
    height: 120px;
    position: relative;
    top: 25px;
    color: white;
}
.preview > .full-width > .header .header_tip.left {
    padding: 16px 16px 16px 103px;
}

.preview > .full-width > .header .header_tip.center {
    padding: 16px 40px 16px 40px;
    margin:auto;
    text-align: center;
}

.preview > .full-width > .header .header_tip.right {
    padding: 16px 103px 16px 16px;
    float: right;
}

.preview > .full-width > .header .header_tip .title {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    text-shadow: 0 5px 2px #222;
    font-size: 112%;
}
.preview > .full-width > .header .header_tip .subtitle {
	font-size:59%;
	text-shadow:0 5px 5px #222;
    top: -7px;
    position: relative;
}
.preview > .full-width > .header .header_tip .reserve a {
	display:inline-block;
	padding:2%;
	background:#e84e1a;
	font-size: 6.5px;
	color:white;
}

.preview > .mobile {
	width: 50%;
	height: 181px;
	margin: auto;
}

.preview > .mobile .header {
	height: 181px;
}

.preview > .mobile .header_tip {
    top: 0px;
    height: auto;
    width: 100%;
    padding: 5px;
}

.preview > .mobile > .header .header_tip.right {
    padding: 16px 103px 16px 16px;
    float: right;
}

.preview > .mobile > .header .header_tip .title {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    text-shadow: 0 5px 2px #222;
    font-size: 94%;
}
.preview > .mobile > .header .header_tip .subtitle {
	font-size:59%;
	text-shadow:0 5px 5px #222;
    top: -7px;
    position: relative;
}
.preview > .mobile > .header .header_tip .reserve a {
    display: inline-block;
    padding: 1%;
    margin-right: 10px;
    background: #e84e1a;
    font-size: 6.5px;
    color: white;
    float: right;
    top: -37px;
}
.preview > .mobile .header_tip.bot {
	top: auto;
    bottom: 0px;
    position:absolute;
    height: 50px;
    width: 396px;
    padding: 5px;
}
.text-bold {
    font-weight: bold;
}
.top-45 {
    top: 45px!important;
}